<main [ngClass]="{ 'solidaridad-style': data[0].federacion === 'solidaridad' }">
	@if (data[0].federacion === 'solidaridad') {
		<div class="tab-titles">
			<button class="tab-link" (click)="selectTab(1)" [ngClass]="{ active: activeTab === 1 }">Datos</button>
			<button class="tab-link" (click)="selectTab(2)" [ngClass]="{ active: activeTab === 2 }">Pagos</button>
			<!-- <button class="tab-link" (click)="selectTab(3)" [ngClass]="{ active: activeTab === 3 }">Tab 3</button> -->
		</div>
	}

	<div class="tab-content" *ngIf="activeTab === 1">
		@if (data) {
			<form [formGroup]="asociacionForm">
				<div>
					<label for="id">ID:</label>
					<input type="number" id="id" formControlName="id" placeholder="{{ data[0].id }}" />
				</div>
				<div>
					<label for="nombre">Nombre:</label>
					<input type="text" id="nombre" formControlName="nombre" placeholder="{{ data[0].nombre }}" />
				</div>
				<div>
					<label for="activa">¿Esta activa?:</label>
					<input type="text" id="activa" formControlName="activa" placeholder="{{ data[0].activa }}" />
				</div>
				<div>
					<label for="rma">Número en Registro Municipal de Asociaciones:</label>
					<input type="number" id="rma" formControlName="rma" placeholder="{{ data[0].rma }}" />
				</div>
				<div>
					<label for="presidente">Presidente/a:</label>
					<input type="text" id="presidente" formControlName="presidente" placeholder="{{ data[0].presidente }}" />
				</div>
				<div>
					<label for="sede">Sede:</label>
					<input type="text" id="sede" formControlName="sede" placeholder="{{ data[0].sede }}" />
				</div>
				<div>
					<label for="distrito">Distrito:</label>
					<input type="text" id="distrito" formControlName="distrito" placeholder="{{ data[0].distrito }}" />
				</div>
				<div>
					<label for="barrio">Barrio:</label>
					<input type="text" id="barrio" formControlName="barrio" placeholder="{{ data[0].barrio }}" />
				</div>
				<div>
					<label for="barrio">Federación:</label>
					<input type="text" id="federacion" formControlName="federacion" placeholder="{{ data[0].federacion }}" />
				</div>
				<div>
					<label for="telefono">Teléfono:</label>
					<input type="text" id="telefono" formControlName="telefono" placeholder="{{ data[0].telefono }}" />
				</div>
				<div>
					<label for="contacto">Teléfono alternativo:</label>
					<input type="text" id="contacto" formControlName="contacto" placeholder="{{ data[0].contacto }}" />
				</div>
				<div>
					<label for="email">Email:</label>
					<input type="email" id="email" formControlName="email" placeholder="{{ data[0].email }}" />
				</div>
				<div>
					<label for="email1">Email Alternativo:</label>
					<input type="email" id="email1" formControlName="email1" placeholder="{{ data[0].email1 }}" />
				</div>

				<!-- <button type="submit">Guardar Cambios</button> -->
			</form>
		}
	</div>

	<div class="tab-content" *ngIf="activeTab === 2">
		<div>
			<h2>{{ data[0].nombre }}</h2>
		</div>
		<h1 [ngClass]="{ 'pagada-style': data[0].cuota2023 }">Cuota 2023</h1>
		<h1 [ngClass]="{ 'pagada-style': data[0].cuota2024 }">Cuota 2024</h1>
	</div>
</main>
