.password {
	margin: 0 auto;
	width: 50%;
	text-align: center;
	padding: 50px;
}

input {
	padding: 10px;
	margin: 0 auto;
	width: 20%;
	margin-bottom: 20px;
}

@media screen and (max-width: 570px) {
	input {
		width: 100%;
		margin-bottom: 10px;
	}
}
