<div class="password">
	<form (ngSubmit)="checkPassword()">
		<!-- Campo oculto para el nombre de usuario para evitar WARNING-->
		<input type="text" name="username" [(ngModel)]="username" autocomplete="username" style="display: none" />

		<label for="password">Contraseña:</label>
		<input
			type="password"
			id="password"
			[(ngModel)]="password"
			name="password"
			appAutofocus
			required
			autocomplete="current-password"
		/>
		<button type="submit" class="OCM-button">Comprobar</button>
	</form>
</div>
