<div class="OCM-flex OCM-flex--center">
	<header style="font-size: 32px">Comentarios ({{ coms().length }})</header>
</div>

<section class="OCM-containerTable">
	<table class="OCM-tableComentariosGestiones">
		<thead>
			<tr>
				<th>Fecha</th>
				<th>Emisor</th>
				<th>texto</th>
			</tr>
		</thead>
		<tbody>
			@for (com of coms(); track com) {
				<tr>
					@switch (com.confidencial) {
						@case (true) {
							@if (canViewConfidencial) {
								<td>{{ com.date | date: 'd-MM-yyyy' }}</td>
								<td style="color: red">CONFIDENCIAL {{ com.sender }}</td>
								<td>{{ com.text }}</td>
							}
						}
						@case (false) {
							<td>{{ com.date | date: 'd-MM-yyyy' }}</td>
							<td>{{ com.sender }}</td>
							<td>{{ com.text }}</td>
						}
					}
				</tr>
			}
		</tbody>
	</table>
</section>
