<!-- @if (data) { -->
@defer (when data) {
	<main [ngClass]="{ 'solidaridad-style': data.solidaridad }">
		@if (data.solidaridad) {
			<div class="tab-titles">
				<button class="tab-link" (click)="selectTab(1)" [ngClass]="{ active: activeTab === 1 }">Datos</button>
				<button class="tab-link" (click)="selectTab(2)" [ngClass]="{ active: activeTab === 2 }">Pagos</button>
				<!-- <button class="tab-link" (click)="selectTab(3)" [ngClass]="{ active: activeTab === 3 }">Tab 3</button> -->
			</div>
		}

		@if (activeTab === 1) {
			<div class="tab-content">
				<form [formGroup]="asociacionForm">
					<header class="OCM-title">{{ data.nombre }}</header>
					<div class="containerAsociacion">
						<!-- <div class="nombre">
							<label for="nombre">Nombre:</label>
							<input
								class="nombre__input"
								type="text"
								id="nombre"
								formControlName="nombre"
								placeholder="{{ data.nombre }}"
							/>
						</div> -->

						<div class="activa">
							<label for="is_activa">¿Esta activa?:</label>
							<input
								class="activa__input"
								type="checkbox"
								id="is_activa"
								formControlName="is_activa"
								placeholder="{{ data.is_activa }}"
							/>
						</div>

						<div class="rma">
							<label class="rma__label" for="rma">Número en RMA:</label>
							<input type="text" class="rma__input" id="rma" formControlName="rma" placeholder="{{ data.rma }}" />
						</div>

						<div class="sede">
							<label for="sede">Sede:</label>
							<input class="sede__input" type="text" id="sede" formControlName="sede" placeholder="{{ data.sede }}" />
						</div>

						<div class="distrito">
							<label for="distrito">Distrito:</label>
							<input
								style="width: 194px"
								type="text"
								id="distrito"
								formControlName="distrito"
								placeholder="{{ data.distrito }}"
							/>
						</div>

						<div class="barrio">
							<label for="barrio">Barrio:</label>
							<input
								class="barrio__input"
								type="text"
								id="barrio"
								formControlName="barrio"
								placeholder="{{ data.barrio }}"
							/>
						</div>

						<div class="federacion">
							<label for="federacion">Federación:</label>
							<input
								class="federacion__input"
								type="text"
								id="federacion"
								formControlName="federacion"
								placeholder="{{ data.id_federacion }}"
							/>
						</div>
					</div>
					<!-- <button type="submit">Guardar Cambios</button> -->
				</form>
			</div>

			<app-cargos [cargos]="cargos" />

			@if (docs.length > 0) {
				<app-documentos [docs]="docs" />
			}
			@if (news.length > 0) {
				<app-noticias [news]="news" />
			}

			@if (coms.length > 0) {
				<app-comentarios [coms]="coms" />
			}

			@if (gestiones.length > 0) {
				<app-gestiones [gestiones]="gestiones" />
			}

			<!-- <app-social-media [socialMediaSignals]="socialMediaSignals" /> -->
			<app-social-media></app-social-media>
		}

		@if (activeTab === 2) {
			<div class="tab-content">
				<div>
					<h2>{{ data.nombre }}</h2>
				</div>

				<h1 [ngClass]="getCuotaClass(data.cuota2023)">Cuota 2023</h1>
				<h1 [ngClass]="getCuotaClass(data.cuota2024)">Cuota 2024</h1>
			</div>
		}
	</main>
}
