<!-- @if (data) { -->
@defer (when data) {
	<main [ngClass]="{ 'solidaridad-style': data[0].federacion === 'solidaridad' }">
		@if (data[0].federacion === 'solidaridad') {
			<div class="tab-titles">
				<button class="tab-link" (click)="selectTab(1)" [ngClass]="{ active: activeTab === 1 }">Datos</button>
				<button class="tab-link" (click)="selectTab(2)" [ngClass]="{ active: activeTab === 2 }">Pagos</button>
				<!-- <button class="tab-link" (click)="selectTab(3)" [ngClass]="{ active: activeTab === 3 }">Tab 3</button> -->
			</div>
		}

		<div class="tab-content" *ngIf="activeTab === 1">
			<form [formGroup]="asociacionForm">
				<div class="containerAsociacion">
					<!-- <div>
						<label for="id">ID:</label>
						<input type="number" id="id" formControlName="id" placeholder="{{ data[0].id }}" />
					</div> -->
					<div class="nombre">
						<label for="nombre">Nombre:</label>
						<input
							style="width: 600px"
							type="text"
							id="nombre"
							formControlName="nombre"
							placeholder="{{ data[0].nombre }}"
						/>
					</div>
					<div class="activa">
						<label for="activa">¿Esta activa?:</label>
						<input
							style="width: 100px"
							type="text"
							id="activa"
							formControlName="activa"
							placeholder="{{ data[0].activa }}"
						/>
					</div>
					<div class="rma">
						<label style="width: 500px; margin-left: -125px" for="rma"
							>Número en Registro Municipal de Asociaciones:</label
						>
						<input
							style="width: 130px; margin-left: -25px"
							type="number"
							id="rma"
							formControlName="rma"
							placeholder="{{ data[0].rma }}"
						/>
					</div>
					<div class="presidente">
						<label for="presidente">Presidente/a:</label>
						<input type="text" id="presidente" formControlName="presidente" placeholder="{{ data[0].presidente }}" />
					</div>
					<div class="sede">
						<label for="sede">Sede:</label>
						<input type="text" id="sede" formControlName="sede" placeholder="{{ data[0].sede }}" />
					</div>
					<div class="distrito">
						<label for="distrito">Distrito:</label>
						<input
							style="width: 294px"
							type="text"
							id="distrito"
							formControlName="distrito"
							placeholder="{{ data[0].distrito }}"
						/>
					</div>
					<div class="barrio">
						<label for="barrio">Barrio:</label>
						<input
							style="width: 294px"
							type="text"
							id="barrio"
							formControlName="barrio"
							placeholder="{{ data[0].barrio }}"
						/>
					</div>

					<div class="federacion">
						<label for="barrio">Federación:</label>
						<input type="text" id="federacion" formControlName="federacion" placeholder="{{ data[0].federacion }}" />
					</div>
					<div class="telefono">
						<label for="telefono">Teléfono:</label>
						<input
							style="width: 294px"
							type="text"
							id="telefono"
							formControlName="telefono"
							placeholder="{{ data[0].telefono }}"
						/>
					</div>
					<div class="telefono1">
						<label for="contacto">Teléfono alternativo:</label>
						<input
							style="width: 294px"
							type="text"
							id="contacto"
							formControlName="contacto"
							placeholder="{{ data[0].contacto }}"
						/>
					</div>
					<div class="email">
						<label for="email">Email:</label>
						<input
							style="width: 294px"
							type="text"
							id="email"
							formControlName="email"
							placeholder="{{ data[0].email }}"
						/>
					</div>
					<div class="email1">
						<label for="email1">Email alternativo:</label>
						<input
							style="width: 294px"
							type="text"
							id="email1"
							formControlName="email1"
							placeholder="{{ data[0].email1 }}"
						/>
					</div>
				</div>
				<!-- <button type="submit">Guardar Cambios</button> -->
			</form>

			<app-documentos [docs]="docs" />
			<app-comentarios [coms]="coms" />
		</div>

		<div class="tab-content" *ngIf="activeTab === 2">
			<div>
				<h2>{{ data[0].nombre }}</h2>
			</div>
			<h1 [ngClass]="{ 'pagada-style': data[0].cuota2023 }">Cuota 2023</h1>
			<h1 [ngClass]="{ 'pagada-style': data[0].cuota2024 }">Cuota 2024</h1>
		</div>
	</main>
}
