@media screen and (max-width: 4200px) {
	form {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 4px;
	}

	label {
		display: block;
		font-weight: bold;
		font-size: medium;
	}

	input {
		padding: 14px;
	}

	.solidaridad-style {
		background-color: rgb(177, 240, 165); /* Ejemplo de color de fondo */
	}

	.pagada-style {
		background-color: rgb(37, 172, 11); /* Ejemplo de color de fondo */
	}

	.tab-titles {
		display: flex;
		justify-content: start;
		padding: 20px;
	}

	.tab-link {
		padding: 10px;
		cursor: pointer;
		border: 1px solid transparent;
		background-color: #f0f0f0;
		margin-right: 2px;
	}

	.tab-link.active {
		border-color: #e92222;
		border-bottom: none;
		background-color: rgb(240, 179, 179);
	}

	.tab-content {
		border: 1px solid #ccc;
		padding: 10px;
		margin-top: -1px;
	}

	h1 {
		margin: 20px;
		width: 150px;
		border: black 1px solid;
		background-color: rgb(223, 8, 36);
		border-radius: 20px;
		padding: 10px;
		text-align: center;
	}

	.containerAsociacion {
		display: grid;
		grid-template-columns: 200px 200px;
		grid-template-rows: 2px;
		gap: 2px 2px;
		grid-auto-flow: row;
		grid-template-areas:
			'nombre nombre'
			'activa rma'
			'presidente telefono'
			'sede sede'
			'distrito barrio'
			'federacion federacion'
			'telefono1 telefono1'
			'email email1';

		width: 660px;
		margin: 0 auto;
		caret-color: white;
	}

	.nombre {
		grid-area: nombre;
		background-color: red;
		height: 100px;
		&__input {
			width: 360px;
			background-color: red;
		}
	}

	.activa {
		grid-area: activa;
		&__input {
			width: 100px;
		}
	}

	.rma {
		grid-area: rma;
		&__label {
			width: 125px;
		}
		&__input {
			width: 75px;
			text-align: center;
		}
	}

	.presidente {
		grid-area: presidente;
		width: 300px;
		&__input {
			width: 300px;
		}
	}

	.sede {
		grid-area: sede;
		&__input {
			width: 560px;
		}
	}

	.distrito {
		grid-area: distrito;
		// width: 150px;
	}

	.barrio {
		grid-area: barrio;
		&__input {
			width: 360px;
		}
	}

	.federacion {
		grid-area: federacion;
		width: 150px;
		&__input {
			width: 360px;
		}
	}

	.telefono {
		grid-area: telefono;
		&__label {
			width: 280px;
			margin-left: 130px;
		}
		&__input {
			width: 125px;
			margin-left: 140px;
		}
	}

	.telefono1 {
		grid-area: telefono1;
		&__label {
			width: 280px;
			margin-left: -50px;
		}
		&__input {
			width: 125px;
			margin-left: -40px;
		}
	}

	.email {
		grid-area: email;
		&__input {
			width: 280px;
		}
	}

	.email1 {
		grid-area: email1;
		&__label {
			width: 280px;
			margin-left: 90px;
		}
		&__input {
			width: 280px;
			margin-left: 100px;
		}
	}
}

@media screen and (max-width: 570px) {
}
