<div>
	<header>Reunión Secretarias Ejecutivas día 07/01/2025 a las 18:00 Local Federación</header>
	<!-- <p>Con demasiada frecuencia, los contenedores de basura de nuestras calles se encuentran desbordados.</p> -->
</div>

<div class="OCM-flex OCM-flex--right">
	<button class="OCM-button" (click)="addCom()">+ comentario</button>
	<!-- <button class="OCM-button" (click)="addDoc()">+ documento</button>
<button class="OCM-button" (click)="addCard()">+ card</button> -->
</div>

<app-informaciones [tag]="tag"></app-informaciones>
