<header class="OCM-title">Subtareas ({{ subtareas().length }})</header>
<section class="OCM-containerTable">
	<table class="OCM-tableComentariosGestiones">
		<thead>
			<tr>
				<th>Fecha</th>
				<th>Responsable</th>
				<th>Descripción</th>
			</tr>
		</thead>
		<tbody>
			@for (subtarea of subtareas(); track subtarea) {
				<tr (click)="openSubtareaDetail(subtarea)">
					<td>{{ subtarea.date | customDate: 'd-MM-yyyy' }}</td>
					<td>{{ subtarea.responsable }}</td>
					<td>{{ subtarea.titulo }}</td>
				</tr>
			}
		</tbody>
	</table>
</section>
