<div class="OCM-button-container">
	<button class="OCM-button-volver" (click)="volver()"></button>
	@if (isAdmin) {
		<button class="OCM-button" (click)="addNew()">+ noticia</button>
		<button class="OCM-button" (click)="addCom()">+ comentario</button>
		<button class="OCM-button" (click)="addDoc()">+ documento</button>
		<button class="OCM-button" (click)="addGes()">+ Gestión</button>
		<button class="OCM-button" (click)="addCargo()">+ Cargo</button>
	} @else {
		@if (tag()) {
			<button class="OCM-button" (click)="addCom()">+ comentario</button>
		}
	}
</div>
