<!-- <div class="footer-section-enlaces">
	<h2>Asociciones Vecinales federadas</h2>
	<ul>
		@for (asociacion of asociaciones; track asociacion) {
			<li>
				<button (click)="navigateTo(asociacion.ruta)">{{ asociacion.nombre }}</button>
			</li>
		}
	</ul>
</div> -->

<main class="agGrid">
	<header class="OCM-title">Relación Asociaciones federadas</header>
	<div>
		@if (gridOptions) {
			<ag-grid-angular
				#agGrid
				style="width: 62vw; height: 66vh"
				class="ag-theme-balham"
				[gridOptions]="gridOptions"
				(gridReady)="onGridReady($event)"
				(rowClicked)="onRowClicked($event)"
			>
				>
			</ag-grid-angular>
		}
	</div>
</main>

<dialog #dialog>
	@if (mensaje === 'Contraseña incorrecta') {
		<div class="error">
			{{ mensaje }}
		</div>
	} @else {
		<div class="success">
			{{ mensaje }}
		</div>
	}
</dialog>
