<div class="footer-section-enlaces">
	<h2>Asociciones Vecinales federadas</h2>
	<ul>
		@for (asociacion of asociaciones; track asociacion) {
			<li>
				<button (click)="navigateTo(asociacion.ruta)">{{ asociacion.nombre }}</button>
			</li>
		}
	</ul>
</div>

<main class="agGrid">
	<header class="OCM-title">Relación Asociaciones federadas</header>
	@if (gridOptions) {
		<ag-grid-angular
			#agGrid
			style="width: 86vw; height: 90vh; margin: 20px"
			class="ag-theme-balham"
			[gridOptions]="gridOptions"
			(gridReady)="onGridReady($event)"
			(rowClicked)="onRowClicked($event)"
		>
			>
		</ag-grid-angular>
	}
</main>
