<header class="OCM-title-dark">Relación Asociaciones federadas</header>
<input type="text" (input)="onQuickFilterChanged($event)" placeholder="Buscar..." class="buscar" />

@if (gridOptions) {
	<ag-grid-angular
		#agGrid
		class="ag-theme-balham md"
		style="width: 96vw; height: 70vh; margin: 0 auto"
		[gridOptions]="gridOptions"
		(gridReady)="onGridReady($event)"
		(rowClicked)="onRowClicked($event)"
	>
		>
	</ag-grid-angular>
}

<dialog #dialog>
	@if (mensaje === 'Contraseña incorrecta') {
		<div class="error">
			{{ mensaje }}
		</div>
	} @else {
		<div class="success">
			{{ mensaje }}
		</div>
	}
</dialog>
