<main class="OCM-dark-teme">
	@if (entidad_organizativa) {
		<header class="OCM-subtitle-dark">{{ id }} {{ entidad_organizativa }}</header>
	}

	<div class="OCM-flex OCM-flex--right">
		@if (canAddRowSupabase) {
			<button class="OCM-button" (click)="addEmpleado()">+ empleado</button>
		}
	</div>

	<section class="tablaContainer">
		<table class="tablaDireccion">
			<thead>
				<tr>
					<th>Calle</th>
					<th>Número</th>
					<th>Piso</th>
					<th>CP</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let detalle of eoDirecciones">
					<td>{{ detalle.calle }}</td>
					<td>{{ detalle.numero }}</td>
					<td>{{ detalle.piso }}</td>
					<td>{{ detalle.cp }}</td>
				</tr>
			</tbody>
		</table>
	</section>

	<section class="tablaContainer">
		<table class="tablaTelefono">
			<thead>
				<tr>
					<th>Teléfono</th>
					<th>Observaciones</th>
				</tr>
			</thead>

			<tbody>
				<tr *ngFor="let detalle of eoTelefonos">
					<td>{{ detalle.telefono }}</td>
					<td>{{ detalle.observaciones }}</td>
				</tr>
			</tbody>
		</table>

		<table class="tablaTelefono">
			<thead>
				<tr>
					<th>Movil</th>
					<th>Observaciones</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of eoMoviles">
					<td>{{ item.movil }}</td>
					<td>{{ item.observaciones }}</td>
				</tr>
			</tbody>
		</table>
	</section>

	<section class="tablaContainer">
		<table class="tablaMail">
			<thead>
				<tr>
					<th>eMail</th>
					<th>Observaciones</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of eoMails">
					<td>{{ item.email }}</td>
					<td>{{ item.observaciones }}</td>
				</tr>
			</tbody>
		</table>
	</section>

	<section class="tablaContainer">
		<table class="tablaMail">
			<thead>
				<tr>
					<th>WEB</th>
					<th>Observaciones</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of eoWebs">
					<td>
						<a href="{{ item.web }}" target="_blank" rel="noopener noreferrer">{{ item.web }}</a>
					</td>
					<td>{{ item.observaciones }}</td>
				</tr>
			</tbody>
		</table>
	</section>

	<section class="tablaContainer">
		<table class="tablaPuestoEmpleado">
			<thead>
				<tr>
					<th>ID</th>
					<th>RPT</th>
					<th>Puesto</th>
					<th>ID</th>
					<th>Nombre</th>
					<th>1er apellido</th>
					<th>2º apellido</th>
					<th>Observaciones</th>
					<th>Detalle</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of datosCombinados">
					<td>{{ item.id_puesto }}</td>
					<td>{{ item.rpt_id_puesto }}</td>
					<td>{{ item.nombre_puesto }}</td>
					<td>{{ item.id_empleado }}</td>
					<td>{{ item.nombre_empleado }}</td>
					<td>{{ item.apellido1_empleado }}</td>
					<td>{{ item.apellido2_empleado }}</td>
					<td>{{ item.obs_empleado }}</td>
					<td><button class="OCM-button" (click)="fichaEmpleado(item.id_empleado)">Detalle</button></td>
				</tr>
			</tbody>
		</table>
	</section>

	<section class="tablaContainer">
		<table class="tablaResumen">
			<thead>
				<tr>
					<th>Dato</th>
					<th>Número</th>
					<th>Total sueldos</th>
					<th>Observaciones</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Personas que trabajan directamente en la entidad organizativa</td>
					<td>{{ puestosDirectos }}</td>
					<td>100.000</td>
					<td>Dato ficticio. Solo para probar</td>
				</tr>
				<tr>
					<td>Personas que trabajan directamente más las que dependen de la entidad organizativa</td>
					<td>6</td>
					<td>250.000</td>
					<td>Dato ficticio</td>
				</tr>
			</tbody>
		</table>
	</section>
	<!-- <div [innerHTML]="descripcion"></div>
<img style="height: 700px; width: 1200px" [src]="image_URL" /> -->
</main>
