<div class="OCM-flex OCM-flex--center">
	<header class="OCM-subtitle-dark">Documentos ({{ docs.length }})</header>
	<!-- <button class="OCM-buttonInvisible" (click)="admin()">+ admin</button> -->
	<button class="OCM-buttonInvisible" (click)="admin()"></button>
</div>

<section class="OCM-containerTable">
	<table class="OCM-table">
		<thead>
			<tr>
				<th>Fecha</th>
				<th>Emisor</th>
				<th>Título</th>
				<th>URL</th>
			</tr>
		</thead>
		<tbody>
			@for (doc of docs; track doc) {
				<tr>
					@switch (doc.confidencial) {
						@case (true) {
							@if (canViewConfidencial) {
								<td>{{ doc.date | date: 'd-MM-yyyy' }}</td>
								<td>{{ doc.emisor }}</td>
								<td style="color: red">CONFIDENCIAL {{ doc.title }}</td>
								<td><a href="{{ doc.url_doc }}" target="_blank" rel="noopener noreferrer">Enlace</a></td>
							}
						}
						@case (false) {
							<td>{{ doc.date }}</td>
							<td>{{ doc.emisor }}</td>
							<td>{{ doc.title }}</td>
							<td><a href="{{ doc.url_doc }}" target="_blank" rel="noopener noreferrer">Enlace</a></td>
						}
					}
				</tr>
			}
		</tbody>
	</table>
</section>
