<!-- <ng-container *ngIf="isSubvencion"> -->
<header class="OCM-subtitle-dark">Seguimiento subvenciones</header>
<section class="OCM-containerTable">
	<table class="OCM-tableSeguimientoSubvenciones">
		<thead>
			<tr>
				<th>Subvención</th>
				<th>Observaciones</th>
				<th>Cuantia</th>
			</tr>
		</thead>
		<tbody>
			@for (step of stepsSubvencion; track step) {
				<tr>
					<td>{{ step.descripcion }}</td>
					<td>{{ step.observaciones }}</td>
					<td>{{ step.cuantia }}</td>
				</tr>
			}
		</tbody>
	</table>
</section>
<!-- </ng-container> -->
