.form-date {
	margin: 0 0 20px 0;
	max-width: 200px;
}

.form-media {
	margin: 0 0 20px 0;
	max-width: 300px;
}

.form-long {
	margin: 0 0 20px 0;
	max-width: 700px;
	width: 700px;
}

fieldset {
	width: 300px;
	margin: 20px;
}
