@media screen and (max-width: 3399.98px) {
	.gridMain {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		background-color: #15202b;
	}

	.gridInfo {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 575.98px) {
	.gridInfo {
		grid-template-columns: 1fr;
	}
}
