<span class="OCM-title" style="margin-top: 50px">¿Qué significa...?</span>
<div>
	<h3 class="icon-term">Ahorro neto</h3>
	<p>
		La magnitud del ahorro neto es un indicador de la situación financiera de la entidad local, de la capacidad de poder
		atender en su vencimiento la carga financiera del endeudamiento. Se calcula de la siguiente manera: suma de los
		ingresos liquidados correspondiente a impuestos, tasas y precios públicos, transferencias corrientes y ingresos
		patrimoniales, menos los gastos relativos a personal, bienes corrientes y servicios y transferencias corrientes (no
		se contemplan los gastos financiados con remanente de tesorería para gastos generales). A este resultado se le tiene
		que restar la anualidad teórica de amortización correspondiente a los préstamos concertados a largo plazo y a los
		avales a terceros pendientes de reembolsar. El ahorro neto positivo constituye una fuente de financiación para los
		gastos de capital no financieros.
	</p>

	<h3 class="icon-term">Capacidad de financiación</h3>
	<p>
		La capacidad o necesidad de financiación de un Ayuntamiento se mide como la diferencia entre los ingresos no
		financieros y los gastos no financieros. Cuando el resultado es positivo (capacidad de financiación), indica que la
		entidad tiene capacidad de financiación o superávit de presupuesto no financiero. En cambio, si el resultado es
		negativo, indica que la entidad necesita financiación, es decir, que tiene que recurrir al endeudamiento.
	</p>

	<h3 class="icon-term">Contribuciones especiales</h3>
	<p>
		Cuando el Ayuntamiento realiza obras públicas o establece servicios de los cuales el ciudadano obtiene un beneficio
		o incrementa el valor de sus bienes, se pueden exigir contribuciones especiales.
	</p>

	<h3 class="icon-term">Deuda viva</h3>
	<p>
		La deuda viva es la totalidad de la deuda pendiente de pagar que tiene el Ayuntamiento procedente de préstamos a
		largo plazo con entidades financieras y avales, es decir, es el capital pendiente de amortizar más los intereses
		generados.
	</p>

	<h3 class="icon-term">El presupuesto municipal</h3>
	<p>
		El presupuesto de un Ayuntamiento es un documento que se aprueba por el Pleno y especifica los gastos que como
		máximo se realizarán durante el ejercicio y los ingresos que se prevén obtener durante el mismo periodo. Todas las
		entidades locales están obligadas a aprobar su presupuesto del año en el último trimestre del año anterior. De esta
		manera el 1 de enero de cada año tienen que tener su presupuesto aprobado. No obstante, si al comenzar el año no
		hubieran aprobado el presupuesto, la normativa establece que se prorroga automáticamente el del ejercicio anterior.
	</p>

	<h3 class="icon-term">Gastado</h3>
	<p>
		Importe que corresponde a las obligaciones reconocidas u obligaciones de gasto por parte del Ayuntamiento o de sus
		Organismos Autónomos ante terceros.
	</p>

	<h3 class="icon-term">Gastos</h3>
	<p>
		Los gastos del presupuesto se clasifican de acuerdo a tres clasificaciones diferentes: Orgánica: que informa de
		quien realiza el gasto. Por programas, que informa sobre para qué se gasta, es decir, la finalidad del gasto.
		Económica, que informa sobre en qué se gasta, sobre la naturaleza económica del gasto.
	</p>

	<h3 class="icon-term">Gastos: ¿en qué se gasta?</h3>
	<p>
		La clasificación económica del presupuesto de gasto informa de en qué se gasta. Los créditos del presupuesto de
		gasto se ordenan según su naturaleza económica, distinguiendo entre los créditos destinados a operaciones
		corrientes, como los gastos necesarios para el funcionamiento de los servicios públicos (gastos de personal y bienes
		y servicios), los créditos destinados a operaciones de capital ( como los gastos en inversiones reales) y los
		créditos destinados a operaciones de carácter financiero ( como las amortizaciones de los préstamos que han recibido
		las entidades locales).
	</p>

	<h3 class="icon-term">Gastos: ¿para que se gasta?</h3>
	<p>
		La clasificación por programas del presupuesto de gasto informa sobre la finalidad y los objetivos que se pretenden
		conseguir con los créditos: para qué se gasta.
	</p>

	<h3 class="icon-term">Gastos: ¿quién lo gasta?</h3>
	<p>
		La clasificación orgánica del presupuesto de gastos informa de la unidad orgánica del Ayuntamiento que gestiona el
		gasto, es decir, del Área, Distrito u Organismo Autónomo responsable de la ejecución del mismo. Esta clasificación
		es opcional.
	</p>

	<h3 class="icon-term">Impuesto de actividades económicas</h3>
	<p>
		cualquier tipo de actividad económica, tanto si es ejercida por una persona física como jurídica. Tienen que pagar
		este impuesto las empresas o entidades que han obtenido una cifra neta de negocio igual o superior al millón de
		euros durante el penúltimo ejercicio. La gestión de este impuesto la comparte el municipio y la Administración
		tributaria del Estado.
	</p>

	<h3 class="icon-term">Impuesto de vehículos de tracción mecánica</h3>
	<p>
		El impuesto de vehículos de tracción mecánica (IVTM) es un tributo directo que grava la titularidad de los vehículos
		aptos para circular por vías públicas. Tiene que pagar anualmente este impuesto los propietarios de vehículos dados
		de alta. La gestión de este impuesto es íntegramente municipal.
	</p>

	<h3 class="icon-term">Impuesto sobre bienes inmuebles</h3>
	<p>
		El IBI es un impuesto municipal, directo, real, objetivo, periódico y obligatorio, que grava el valor de los bienes
		inmuebles. Están obligados a pagar este impuesto los propietarios, usufructuarios o concesionarios de cualquier bien
		inmueble o propiedad (piso, plaza de garaje, trastero, tienda, casa, despacho, etc…). La gestión de este impuesto la
		comparte el municipio y la Administración tributaria del Estado.
	</p>

	<h3 class="icon-term">Impuesto sobre construcciones, instalaciones y obras</h3>
	<p>
		El ICIO es un tributo municipal que un Ayuntamiento puede exigir si previamente lo ha aprobado en la Ordenanza
		fiscal correspondiente. El ICIO se tiene que pagar por la realización dentro del término municipal de cualquier
		construcción, obra o instalación para la cual se requiera obtener una licencia urbanística o presentar una
		declaración responsable o una comunicación previa. La gestión de este impuesto es íntegramente municipal.
	</p>

	<h3 class="icon-term">Impuesto sobre el incremento del valor de los terrenos de naturaleza urbana</h3>
	<p>
		El IIVTNU es un tributo directo que grava el incremento de valor que ha experimentado un terreno mientras una
		persona ha sido propietaria de un piso, aparcamiento, trastero, local, terreno, etc… Tiene que pagar este impuesto
		la persona que vende un piso, una plaza de garaje, un trastero, una tienda, una casa, etc.., por el incremento del
		valor que ha experimentado el terreno mientras ha sido propietario. En caso de herencia o donación, es el nuevo
		propietario quien tiene que pagar el impuesto. La gestión de este impuesto es íntegramente municipal.
	</p>

	<h3 class="icon-term">Ingresado</h3>
	<p>
		Importe que corresponde a los derechos reconocidos o derechos de cobro por parte del Ayuntamiento o de sus
		Organismos Autónomos.
	</p>

	<h3 class="icon-term">Ingresos</h3>
	<p>
		El presupuesto de ingresos se puede clasificar de acuerdo con la siguiente clasificación: Clasificación económica,
		que presenta la información según la naturaleza económica de los derechos presupuestarios. Clasificación orgánica,
		que informa sobre quien ingresa. Las entidades locales pueden clasificar los ingresos atendiendo a su propia
		estructura. Es una posibilidad que tienen las entidades locales y, por tanto, una clasificación de carácter
		opcional.
	</p>

	<h3 class="icon-term">Inversiones financieramente sostenibles (IFS)</h3>
	<p>
		La Ley Orgánica 2/2012, de 27 de abril, de Estabilidad Presupuestaria y Sostenibilidad Financiera, establece que las
		Entidades Locales que tengan superávit o remanente de tesorería positivo, y que no hayan sobrepasado los límites de
		deuda que tengan autorizados, podrán destinar sus excedentes presupuestarios a inversiones que tengan que ver con
		actuaciones sostenibles.
		<br /><br />
		Se consideran sostenibles las inversiones en los siguientes grupos de programa: alcantarillado, abastecimiento
		domiciliario de agua potable, recogida, eliminación y tratamiento de residuos, alumbrado público, protección y
		mejora del medio ambiente, mejora de las estructuras agropecuarias y de los sistemas productivos, industria,
		energía, comercio, información y promoción turística, transporte de viajeros, infraestructuras del transporte,
		recursos hidráulicos, investigación científica, técnica y aplicada, sociedad de la información, gestión del
		conocimiento, seguridad y orden público, ordenación del tráfico y del estacionamiento, protección civil, servicio de
		prevención y extinción de incendios, vías públicas, parques y jardines, asistencia social primaria, creación de
		centros docentes de enseñanza infantil y primaria, funcionamiento de centros docentes de enseñanza infantil y
		primaria y educación especial, bibliotecas y archivos, equipamientos culturales y museos, protección del patrimonio
		histórico-artístico, instalaciones deportivas, carreteras, caminos vecinales y gestión del patrimonio, en el que se
		podrán incluir las aplicadas a la rehabilitación, reparación y mejora de infraestructuras e inmuebles propiedad de
		la entidad local afectos al servicio público incluyendo las actuaciones de adaptación de infraestructuras que
		permitan la accesibilidad universal para personas con discapacidad y personas mayores.
		<br />
		Se excluyen tanto las inversiones que tengan una vida útil inferior a cinco años como las que se refieran a
		mobiliario y enseres, salvo que se destinen a la prestación de servicios asociados a los grupos de programas arriba
		descritos. También quedan excluidas las inversiones en vehículos, salvo que se destinen a la prestación de los
		servicios públicos de recogida, eliminación y tratamiento de residuos, seguridad y orden público, protección civil,
		prevención y extinción de incendios, y de transporte de viajeros.
		<br /><br />
		A partir de 2018, las IFS autorizadas y no finalizadas en un ejercicio se pueden incorporar al ejercicio siguiente,
		financiándose con el remanente de tesorería, es decir, se pueden ejecutar en dos ejercicios. Las IFS se habilitan en
		el presupuesto a través de modificaciones presupuestarias (suplementos y créditos extraordinarios) que exigen los
		mismos trámites que la aprobación del presupuesto general, por lo que el periodo de tramitación es largo y como
		consecuencia la ejecución del gasto es menor.<br /><br />El número e importe de IFS aprobadas en los últimos
		ejercicios sobre el presupuesto inicial de inversiones es muy elevado, de ahí que el grado de ejecución de las
		mismas tenga un fuerte impacto en la ejecución global del capítulo de inversiones y sobre el presupuesto total.
	</p>

	<h3 class="icon-term">Líneas de inversión</h3>
	<p>
		La clasificación de las inversiones del Ayuntamiento y de los Organismos Autónomos se realiza siguiendo la
		estructura que establece la Orden EHA/3565/2008 de 3 de diciembre, por la que se aprueba la estructura de los
		presupuestos de las entidades locales.
		<br />
		Las líneas de inversión son las siguientes: 01: Protección Civil y seguridad ciudadana 02: Tráfico, estacionamiento
		y transporte público 03: Protección y promoción social 04: Salud pública 05: Educación 06: Urbanismo 07:
		Infraestructuras 08: Mantenimiento urbano 09: Medio ambiente 10: Cultura 11: Deportes, juventud y esparcimiento 12:
		Otros bienes públicos de carácter social 13: Otros bienes públicos de carácter económico 14: Sectores productivos
		19: Imprevistos 00: Inversiones de carácter general (administrativos y pendientes de especificar)
	</p>

	<h3 class="icon-term">Pagos a terceros</h3>
	<p>
		Obligaciones reconocidas contabilizadas a 31 de diciembre de cada ejercicio, del presupuesto del Ayuntamiento de
		Jerez de la Frontera (Áreas de Gobierno y Distritos) y Organismos Autónomos, desde el ejercicio 2011 hasta el último
		ejercicio liquidado. Estas obligaciones reconocidas , corresponden a los trabajos, servicios, obras, convenios y
		subvenciones realizados, suscritos o recibidos por terceros personas jurídicas. No se contemplan las retribuciones
		percibidas por el personal del Ayuntamiento y los Organismos Autónomos, ni los pagos, subvenciones, transferencias,
		premios, etc. percibidos por personas físicas, de conformidad con el Reglamento General de Protección de Datos (UE
		2016/679) y con la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y garantía de derechos
		digitales.
	</p>

	<h3 class="icon-term">Periodo medio de pago</h3>
	<p>
		El indicador Periodo medio de pago (PMP) mide el plazo que transcurre desde la entrega de los bienes o la prestación
		de los servicios a cargo del proveedor y el pago material de la operación. Según la normativa vigente este periodo
		no puede superar los 30 días.
	</p>

	<h3 class="icon-term">Políticas de Gasto</h3>
	<p>
		Las políticas de gasto se definen en la Orden Ministerial EHA/419/2014 de 14 de marzo, que modifica la Orden
		Ministerial EHA/3565/2008 de 3 de diciembre. El Ayuntamiento de Jerez de la Frontera y sus Organismos Autónomos
		presupuestan los gastos por programas. Atendiendo a la finalidad y a los objetivos que pretenden realizar, los
		programas se pueden agrupar por políticas de gasto por las que se tipifican todos los gastos de competencia
		municipal, permitiendo la comparación con otras entidades locales, ya que esta clasificación es idéntica para todas
		las Corporaciones Locales.
	</p>

	<h3 class="icon-term">Presupuestado</h3>
	<p>
		Datos económicos del presupuesto inicialmente aprobado más-menos las modificaciones presupuestarias que se efectúen
		a lo largo del ejercicio.
	</p>

	<h3 class="icon-term">Regla del gasto</h3>
	<p>
		La regla del gasto establece un techo de gasto para el presupuesto de las Administraciones públicas. La normativa
		vigente establece que el gasto computable del presupuesto del Ayuntamiento no puede superar la tasa de referencia
		del producto interior bruto (PIB) a medio plazo de la economía española, siendo posible superarla únicamente en el
		supuesto de que ese exceso se compense con aumentos de ingresos de carácter permanente.
	</p>

	<h3 class="icon-term">Remanente de tesoreria para gastos generales</h3>
	<p>
		El remanente de tesorería para gastos generales forma parte del estado de liquidación del presupuesto y es la suma
		de los derechos pendientes de cobro (del mismo ejercicio y del anterior) más los fondos líquidos de tesorería y
		menos los créditos pendientes de pago (del mismo ejercicio y del anterior). Muestra la situación financiera del
		Ayuntamiento al finalizar el ejercicio. Es un estado contable que ofrece datos acumulativos del ejercicio que se
		cierra y de los anteriores, así como de su resultado, si es positivo y se han realizado las necesarias provisiones,
		constituye una fuente de financiación de mayores gastos presupuestarios. El remanente de tesorería se tiene que
		calcular teniendo en cuenta la minoración de los derechos pendientes de cobro que se consideren de dificil o
		imposible recaudación.
	</p>

	<h3 class="icon-term">Resultado presupuestario ajustado</h3>
	<p>
		El resultado presupuestario ajustado forma parte del estado de liquidación del presupuesto y es la diferencia entre
		los derechos de cobro que se han liquidado en el ejercicio y las obligaciones de pago reconocidas en el mismo
		periodo. Por tanto, es una magnitud que refleja el superávit o déficit del ejercicio del Ayuntamiento. El resultado
		presupuestario se tiene que ajustar con las obligaciones que se financian con remanente de tesorería para gastos
		generales y las desviaciones de financiación del ejercicio derivadas de los gastos con financiación afectada, ya que
		estas circunstancias distorsionan el resultado presupuestario. Cuando el resultado presupuestario ajustado del
		ejercicio es negativo, nos encontramos delante de una situación financiera que tiene que ser analizada y si es el
		caso corregida, ya que este saldo manifiesta la incapacidad de los derechos reconocidos en el ejercicio para atender
		las obligaciones generadas en el mismo, y por tanto un incumplimiento del principio de estabilidad presupuestaria.
	</p>

	<h3 class="icon-term">Tasas y precios públicos</h3>
	<p>
		Cuando el Ayuntamiento realiza actividades que benefician o interesan particularmente a los ciudadanos, puede exigir
		tasas o precios públicos. También, se exigirá una tasa cuando tenga lugar el aprovechamiento especial de la vía
		pública a favor de un particular. Ejemplos típicos de actividades por las cuales se exige una tasa son la recogida
		de basuras, la concesión de una licencia urbanística o un vado. Tiene que pagar la tasa la persona que se beneficia
		del dominio público o de un servicio o actividad que realiza el Ayuntamiento. Es el Ayuntamiento quien determina
		mediante las ordenanzas fiscales el importe de la tasa. La diferencia entre una tasa y un precio público es que la
		tasa se establece para servicios que sólo presta el Ayuntamiento (ejemplo los vados), y el precio público se utiliza
		para aquellos servicios que también pueden ser prestados por una empresa privada (como por ejemplo las entradas a
		instalaciones deportivas, escuelas infantiles, etc.).
	</p>

	<h3 class="icon-term">Terceros</h3>
	<p>
		Personas físicas o jurídicas que mantienen una relación con el Ayuntamiento, sea por contratos, convenios, etc. No
		se incluyen los gastos del personal municipal ni las ayudas y subvenciones que perciban personas físicas.
	</p>
</div>
