.fotoCabecera {
	display: flex;
	justify-content: center;
	width: 100%;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

h1 {
	font-size: 3.5rem;
	margin: 1rem;
	padding: 30px;
}

img {
	border-radius: 8px;
}

p {
	font-size: 1.5rem;
	line-height: 2rem;
}

.hero {
	background-color: #004a99;
	color: white;
	text-align: center;
}

.content-section {
	padding: 4px 0;
}

.mission-values {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
}

.text-primary {
	color: #004a99;
}

.text-center {
	text-align: center;
}

.mb-4 {
	margin-bottom: 1.5rem;
}
