<div class="fotoCabecera">
	<img [src]="'/assets/img/SebastianPedro.jpg'" alt="Imagen principal" />
</div>

<section class="hero">
	<h1>Nuestra historia</h1>
</section>

<section class="content-section">
	<div class="container">
		<p>
			Constituida en el año 1988 registrada en la Unidad Registral de Cádiz, sección segunda, de Federaciones y
			Confederaciones, registrada el 23/05/1988 con el numero 11-2-35.
		</p>
	</div>
</section>

<h1 class="text-primary text-center mb-4">En nuestra memoria</h1>
<section class="mission-values">
	<div>
		<img [src]="'/assets/img/SebastianPeña.jpg'" alt="Imagen principal" />
	</div>
	<div>
		<img [src]="'/assets/img/PedroGarcia.jpg'" alt="Imagen principal" />
	</div>
</section>

<h1 class="text-primary text-center mb-4">Logros</h1>
<section class="mission-values">
	<div>
		<img [src]="'/assets/img/radioterapia.jpg'" alt="Imagen principal" />
	</div>
	<div>
		<img [src]="'/assets/img/1olimpiadas.png'" alt="Imagen principal" />
	</div>
</section>

<h1 class="text-primary text-center mb-4">Recuerdos</h1>
<section class="mission-values">
	<div>
		<img [src]="'/assets/img/recuerdos/ReyesMagos.jpg'" alt="Imagen principal" />
	</div>
	<div>
		<img [src]="'/assets/img/recuerdos/PlataformaA2003.jpg'" alt="Imagen principal" />
	</div>
	<div>
		<img [src]="'/assets/img/recuerdos/ADIFI.jpg'" alt="Imagen principal" />
	</div>
	<div>
		<img [src]="'/assets/img/recuerdos/FiestaVendimia.jpg'" alt="Imagen principal" />
	</div>
	<div>
		<img [src]="'/assets/img/recuerdos/PlataformaA2003.jpg'" alt="Imagen principal" />
	</div>
	<div>
		<img [src]="'/assets/img/recuerdos/ReyesMagos.jpg'" alt="Imagen principal" />
	</div>
	<div>
		<img [src]="'/assets/img/recuerdos/ADIFI.jpg'" alt="Imagen principal" />
	</div>
	<div>
		<img [src]="'/assets/img/recuerdos/FiestaVendimia.jpg'" alt="Imagen principal" />
	</div>
</section>
