<h3 class="OCM-title-dark">Plataformas, coordinadoras y comisiones ciudadanas en las que colaboramos</h3>

<main class="OCM-gridMenu">
	<app-card-menu
		rutaImagen="https://cswdadlxiubwdzvqzywc.supabase.co/storage/v1/object/public/solidaridad/cartuja.jpg?t=2024-12-07T08%3A41%3A52.384Z"
		titulo="Plataforma Amigos de la Cartuja"
		(click)="navigateTo('/amigosCartuja')"
	/>

	<app-card-menu
		rutaImagen="https://cswdadlxiubwdzvqzywc.supabase.co/storage/v1/object/public/imgTodas/astaRegia.jpg?t=2024-12-07T17%3A01%3A59.927Z"
		titulo="Plataforma por Asta Regia"
		(click)="navigateTo('/astaRegia')"
	/>

	<app-card-menu
		rutaImagen="https://cswdadlxiubwdzvqzywc.supabase.co/storage/v1/object/public/solidaridad/plataformaA-2003.jpg"
		titulo="Plataforma A-2003"
		(click)="navigateTo('/a2003')"
	/>

	<app-card-menu
		rutaImagen="https://cswdadlxiubwdzvqzywc.supabase.co/storage/v1/object/public/solidaridad/a2004.jpg"
		titulo="Plataforma A-2004 en constitución"
		(click)="navigateTo('/a2004')"
	/>

	<app-card-menu
		rutaImagen="https://cswdadlxiubwdzvqzywc.supabase.co/storage/v1/object/public/solidaridad/centroSaludMilagrosa.jpg?t=2024-12-07T21%3A25%3A16.606Z"
		titulo="Coordinadora vecinal de usuarios de Centros de Salud Distrito Noroeste"
		(click)="navigateTo('/centroSaludMilagrosa')"
	/>

	<app-card-menu
		rutaImagen="https://cswdadlxiubwdzvqzywc.supabase.co/storage/v1/object/public/solidaridad/comisionParticipacionCiudadanaHospital.jpg?t=2024-12-07T21%3A33%3A55.594Z"
		titulo="Comisión de participación ciudadana sanitaria del Hospital Universitario de Jerez"
		(click)="navigateTo('/comisionParticipacionCiudadanaHospital')"
	/>
</main>
