<div class="OCM-graph">
	<div class="OCM-menu">
		<button type="button" class="OCM-button" (click)="volver()">Volver</button>
	</div>

	<div style="width: 1200px; height: 500px">
		<div id="chart-containerLines"></div>
		<div id="chart-container"></div>
		<div id="chart-containerMarker"></div>

		<ag-grid-angular
			#agGrid
			style="width: 400px; height: 325px; padding-right: 20px; margin-left: 310px"
			class="ag-theme-balham"
			[rowData]="data"
			[columnDefs]="columnDefs"
			[defaultColDef]="defaultColDef"
			rowSelection="multiple"
			[groupIncludeFooter]="true"
			[groupIncludeTotalFooter]="true"
			[groupHeaderHeight]="groupHeaderHeight"
			[headerHeight]="headerHeight"
			[localeText]="localeText"
			[suppressAggFuncInHeader]="true"
		>
		</ag-grid-angular>
	</div>
</div>
