@defer (when datosAsociacion[0]) {
	<main [ngClass]="{ 'solidaridad-style': data.solidaridad }">
		<button (click)="printComponent()">Imprimir</button>

		<app-botones-add [tag]="tag"></app-botones-add>

		@if (data.solidaridad) {
			<div class="tab-titles">
				<button class="tab-link" (click)="selectTab(1)" [ngClass]="{ active: activeTab === 1 }">Datos</button>
				<button class="tab-link" (click)="selectTab(2)" [ngClass]="{ active: activeTab === 2 }">Pagos</button>
			</div>
		}
		<div id="print-section">
			@if (activeTab === 1) {
				<header class="OCM-title">{{ datosAsociacion[0].nombre }}</header>

				<div class="OCM-containerTableDatosAsociacion">
					<table class="OCM-tableDatosAsociacion">
						<tbody>
							<tr>
								<td><label>¿Está activa?</label></td>
								<td><input type="checkbox" [checked]="datosAsociacion[0].is_activa" /></td>
							</tr>
							<tr>
								<td><label>Número en RMA</label></td>
								<td>
									<h2>{{ datosAsociacion[0].rma }}</h2>
								</td>
							</tr>
							<tr>
								<td><label class="nif__label" for="rma">NIF</label></td>
								<td>
									<h2>{{ datosAsociacion[0].NIF }}</h2>
								</td>
							</tr>
							<tr>
								<td><label>Sede</label></td>
								<td>
									<h2>{{ datosAsociacion[0].sede }}</h2>
								</td>
							</tr>
						</tbody>
					</table>

					<table class="OCM-tableDatosAsociacion">
						<tbody>
							<tr>
								<td><label>Distrito</label></td>
								<td>
									<h2>{{ datosAsociacion[0].distrito }}</h2>
								</td>
							</tr>
							<tr>
								<td><label>Barrio</label></td>
								<td>
									<h2>{{ datosAsociacion[0].barrio }}</h2>
								</td>
							</tr>
							<tr>
								<td><label>Federación</label></td>
								<td>
									<h2>{{ nombreFederacion }}</h2>
								</td>
							</tr>
							<tr>
								<td><label for="email">Email</label></td>
								<td>
									<h2>{{ datosAsociacion[0].email }}</h2>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<app-cargos [cargos]="cargos" />

				@if (docs.length > 0) {
					<app-documentos [docs]="docs" />
				}

				@if (news.length > 0) {
					<app-noticias [news]="news" />
				}

				@if (coms.length > 0) {
					<app-comentarios [coms]="coms" />
				}

				@if (gestiones.length > 0) {
					<app-gestiones [gestiones]="gestiones" />
				}
			}
		</div>

		@if (activeTab === 2) {
			<div class="tab-content">
				<div>
					<h2>{{ data.nombre }}</h2>
				</div>

				<h1 [ngClass]="getCuotaClass(data.cuota2023)">Cuota 2023</h1>
				<h1 [ngClass]="getCuotaClass(data.cuota2024)">Cuota 2024</h1>
			</div>
		}
	</main>
}
