@import '../../node_modules/ag-grid-community/styles/ag-grid.css';
@import '../../node_modules/ag-grid-community/styles/ag-theme-balham.css';

@media screen and (max-width: 4200px) {
	// https://www.ag-grid.com/angular-data-grid/global-style-customisation-colours/?
	.ag-theme-balham {
		// 	--ag-foreground-color: rgb(126, 46, 132);
		// 	--ag-background-color: rgb(249, 245, 227);
		// 	--ag-header-foreground-color: rgb(204, 245, 172);
		// 	--ag-header-background-color: rgb(209, 64, 129);
		// 	--ag-odd-row-background-color: rgb(0, 0, 0, 0.03);
		// 	--ag-header-column-resize-handle-color: rgb(126, 46, 132);

		--ag-font-size: 10px;
		--ag-font-family: monospace;
	}

	// .ag-cell-value {
	// 	font-size: 12px;
	// }

	// .ag-header-group-cell {
	//   font-size: 14px;
	//   color: green;
	// }
	// .ag-header-row {
	//   font-size: 14px;
	//   color: rgb(215, 20, 20);
	// }

	.ag-header-group-text {
		font-size: 14px;
		color: green;
	}

	.ag-cell-label-container {
		/*Necessary to allow for text to grow vertically*/
		height: 100%;
	}

	.ag-header-cell {
		font-size: 12px;
		width: 20px;
		color: #d31f1f;
		// transform: rotate(90deg);
		// margin-top: 10px;
		/*Since we are rotating a span*/
		display: inline-block;
	}

	.ag-header-cell-label .ag-header-cell-text {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		color: rgb(189, 12, 12);
		// font-family: Arial;
		font-weight: bold;
		font-size: 10px;
		/*Necessary to allow for text to grow vertically*/
		height: 100%;
		padding: 0 !important;
	}

	// .ag-cell-value {
	// 	font-size: 10px;
	// 	text-overflow: ellipsis;
	// 	color: black;
	// }
}

@media screen and (max-width: 576px) {
}
