.OCMInputDate {
	margin: 0;
	max-width: 200px;
}

.OCMInputMedia {
	margin: 0;
	max-width: 300px;
}

.OCMInputLong {
	margin: 0;
	max-width: 700px;
	width: 700px;
}

.OCM-Fieldset {
	width: 300px;
	margin: 20px;
	padding: 20px;
	// border: none;
}

.OCM-label-dark {
	display: flex;
	justify-content: left;
	width: 100 hw;
	color: rgb(248, 248, 248);
	background-color: #15202b;
	font-family: var(--fuente-principal);
	font-size: clamp(0.778rem, 1vw + 0.5rem, 1.222rem);
	padding-left: 20px;
	margin-top: 20px;
}

.buscar {
	margin: 10px;
	width: 200px;
	padding: 4px;
}

@media screen and (max-width: 576px) {
	.OCMInputLong {
		max-width: 300px;
		width: 300px;
	}
	.OCM-Fieldset {
		width: 150px;
		margin: 10px;
	}
}
