.OCMInputDate {
	margin: 0;
	max-width: 200px;
}

.OCMInputMedia {
	margin: 0;
	max-width: 300px;
}

.OCMInputLong {
	margin: 0;
	max-width: 700px;
	width: 700px;
}

OCM-Fieldset {
	width: 300px;
	margin: 20px;
}
