@media screen and (max-width: 6000px) {
	header {
		font-size: clamp(1.111rem, 1vw + 1rem, 3rem);
	}

	.OCM-containerTable {
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 10px;
		background: #f5f5f5;
		margin: 10px;

		&__title {
			color: rgba(1, 0, 3, 0.913);
			font-family: var(--fuente-principal);
			font-size: 1rem;
			margin: 10px;
		}
	}

	.OCM-tableBase {
		height: 100%;
		text-align: center;
		border-collapse: collapse;
		margin-left: 20px;

		thead {
			background: #044718;
			height: 20px;

			th {
				font-size: clamp(0.583rem, 1vw + 0.5rem, 1.333rem);
				font-weight: bold;
				color: #ffffff;
				width: 50px;
				border-left: 2px solid #ffffff;
			}
		}

		tbody {
			text-align: left;

			td {
				font-size: clamp(0.583rem, 1vw + 0.5rem, 1.333rem);
			}

			tr:nth-child(even) {
				background: #84c4c8;
			}
		}

		td {
			&:nth-child(1) {
				text-align: left;
			}

			&:nth-child(2) {
				text-align: left;
			}

			&:nth-child(3) {
				text-align: left;
			}

			&:nth-child(4) {
				text-align: center;
			}

			&:nth-child(5) {
				text-align: center;
			}

			&:nth-child(6) {
				text-align: center;
			}
		}
	}

	.OCM-tableNoticiasDocumentos {
		@extend .OCM-tableBase;
		width: 97%;
		margin-top: 20px;
		max-width: 1200px;

		td {
			&:nth-child(1) {
				width: 14%;
				text-align: center;
			}

			&:nth-child(2) {
				width: 15%;
				padding-left: 5px;
			}

			&:nth-child(3) {
				width: 70%;
				line-height: 12px;
			}

			&:nth-child(4) {
				// width: 6%;
			}
		}
	}

	.OCM-tableCargos {
		@extend .OCM-tableBase;
		width: 77%;

		td {
			&:nth-child(1) {
				width: 12%;
			}

			&:nth-child(2) {
				width: 10%;
				padding-left: 10px;
			}

			&:nth-child(3) {
				width: 10%;
			}

			&:nth-child(4) {
				width: 10%;
			}

			&:nth-child(5) {
				width: 12%;
			}

			&:nth-child(6) {
				// width: 14%;
			}
		}
	}

	.OCM-tableComentariosGestiones {
		@extend .OCM-tableBase;
		width: 97%;

		td {
			&:nth-child(1) {
				width: 7%;
			}

			&:nth-child(2) {
				width: 10%;
			}

			&:nth-child(3) {
				// Sin width se ajusta autmaticamente hasta completar el espacio;
			}
		}
	}
}

@media screen and (max-width: 576px) {
	.OCM-containerTable {
		&__title {
			font-size: 10px;
			margin: 2px;
		}
	}

	.OCM-tableNoticiasDocumentos {
		margin: 4px;

		td {
			&:nth-child(2) {
				width: 20%;
			}

			&:nth-child(3) {
				width: 59%;
			}
		}
	}
}
