.text-primary {
	color: rgb(19, 16, 167);
	font-size: clamp(1.4rem, 1vw + 0.75rem, 6.6rem);
	font-weight: 600;
	line-height: 3rem;
	text-align: center;
	margin: 10px;
}

.item-title {
	text-align: center;
	font-size: clamp(1.313rem, 2vw + 1rem, 2.563rem);
}

.item-subtitle {
	text-align: center;
	font-size: clamp(1.313rem, 2vw + 0.6rem, 2.2rem);
}

@media (max-width: 570px) {
	.item-subtitle {
		display: none;
	}
}
