<footer class="main-footer">
	<div class="footer-content">
		<div class="footer-section">
			<h2>Contacto</h2>
			<p>📍 Dirección: {{ sede }}</p>
			<p>🧑‍💼 Presidente: {{ presidente }}</p>
			<p>📞 Teléfono: {{ telefonoPresidente }}</p>
			<p>✉️ Email: {{ email }}</p>
		</div>

		<div class="footer-section">
			<h2>Síguenos</h2>
			<div class="social-links">
				<a href="{{ facebook }}" class="social-link" target="_blank" rel="noopener noreferrer">Facebook</a>
			</div>
		</div>
	</div>
</footer>
<!-- href="https://www.facebook.com/profile.php?id=61567320031335" -->
