<div class="OCM-button-container">
	<button class="OCM-button-volver" (click)="volver()"></button>
</div>

<header class="OCM-title-dark">Intervenciones en Onda Jerez radio</header>

<div>
	<img
		src="https://cswdadlxiubwdzvqzywc.supabase.co/storage/v1/object/public/solidaridad/cuadranteJunta.jpg?t=2024-12-06T10%3A04%3A48.931Z"
	/>

	<img
		src="https://cswdadlxiubwdzvqzywc.supabase.co/storage/v1/object/public/solidaridad/cuadranteAVV.jpg?t=2025-01-07T11%3A19%3A10.726Z"
	/>
</div>

<main class="OCM-gridMenu">
	<app-card-menu
		titulo="Intervención 20/11/2024 Miguel A. Martinez + AVV La Plata Jerónimo Grosso"
		(click)="
			navigateTo(
				'Intervención 20/11/2024 Miguel A. Martinez + AVV La Plata Jerónimo Grosso',
				null,
				'https://1drv.ms/i/s!AqUr6AaNBwpDpqYlDcwhKta-6mPLwQ?e=rPKMHr',
				'https://1drv.ms/u/s!AqUr6AaNBwpDpqYnKCC0GiI70upD9Q?e=t7w2Ag'
			)
		"
	/>
	<app-card-menu
		titulo="Intervención 27/11/2024Juan Garrucho + AVV La Granja"
		(click)="
			navigateTo(
				'Intervención 27/11/2024Juan Garrucho + AVV La Granja',
				'https://docs.google.com/document/d/1AoyMLGRcBsGwGG-mSWxbcb3W84bFKW381pW00ewAAro/edit?tab=t.0',
				null,
				'https://photos.onedrive.com/share/430A078D06E82BA5!627925?cid=430A078D06E82BA5&resId=430A078D06E82BA5!627925&authkey=!AEaSbydTZYhSsn8&ithint=video&e=Rh02b9'
			)
		"
	/>
	<app-card-menu
		titulo="Intervención 04/12/2024 Manuel Cazorla + AVV Vallesequillo II"
		(click)="
			navigateTo(
				'Intervención 04/12/2024 Manuel Cazorla + AVV Vallesequillo II',
				'https://docs.google.com/document/d/1jWn6WA1UTqpRUzw_e_QrL8hiCFjFUPg7Pxqg80pDP-w/edit?tab=t.0',
				'https://photos.onedrive.com/share/430A078D06E82BA5!628136?cid=430A078D06E82BA5&resId=430A078D06E82BA5!628136&authkey=!AJ1YWz56qTACxqc&ithint=photo&e=SCGyhM',
				'https://photos.onedrive.com/share/430A078D06E82BA5!628134?cid=430A078D06E82BA5&resId=430A078D06E82BA5!628134&authkey=!AANGMujzTSJnnVM&ithint=video&e=1P3gUM'
			)
		"
	/>

	<app-card-menu
		titulo="Intervención 11/12/2024 Manuel Cazorla + AVV La Cartuja"
		(click)="
			navigateTo(
				'Intervención 11/12/2024 Manuel Cazorla + AVV La Cartuja',
				'https://docs.google.com/document/d/199wWCgTtwSpN4-UeviBBd3pKU2SHMixKAFBSe-CICow/edit?tab=t.0',
				'https://photos.onedrive.com/share/430A078D06E82BA5!628235?cid=430A078D06E82BA5&resId=430A078D06E82BA5!628235&authkey=!AGjuTVXlqzN0Vnc&ithint=photo&e=Ua1LaV',
				'https://photos.onedrive.com/share/430A078D06E82BA5!628208?cid=430A078D06E82BA5&resId=430A078D06E82BA5!628208&authkey=!AEA-FQluIVPTACM&ithint=video&e=pqYegm'
			)
		"
	/>
	<app-card-menu
		titulo="No hay Intervención por averia 18/12/2024 Manuel Cazorla +  AVV La Integración"
		(click)="
			navigateTo(
				'No hay Intervención por averia 18/12/2024 Manuel Cazorla +  AVV La Integración',
				'https://docs.google.com/document/d/1i5Y4-SiRD8Kp6kvk2r74YPTZZMDb8Y_3GkKfQlkurOw/edit?tab=t.0',
				null,
				null
			)
		"
	/>
	<app-card-menu
		titulo="Intervención 08/01/2025 Antonio Ramos + AVV Federico Mayo "
		(click)="
			navigateTo(
				'Intervención 08/01/2025 Antonio Ramos + AVV Federico Mayo',
				'https://docs.google.com/document/d/1NFtWpgJ8SPl_SdefwBaSLUOhvz0U77xx9198LTanias/edit?tab=t.0',
				null,
				null
			)
		"
	/>
</main>

<!-- (click)="navigateTo('intervencion20241120')" -->
