<div>
	<p class="text-primary">Intervenciones en Onda Jerez radio</p>
</div>

<div class="featured-grid">
	<!-- <div class="featured-item" (click)="navigateTo('/asociacionesFederadas')"> -->
	<div>
		<img
			src="https://cswdadlxiubwdzvqzywc.supabase.co/storage/v1/object/public/solidaridad/cuadranteJunta.jpg?t=2024-12-06T10%3A04%3A48.931Z"
		/>
	</div>
	<div>
		<img
			src="https://cswdadlxiubwdzvqzywc.supabase.co/storage/v1/object/public/solidaridad/cuadranteAVV.jpg?t=2024-12-06T10%3A05%3A17.008Z"
		/>
	</div>
</div>
