<h3 class="OCM-title-dark">Intervenciones en Onda Jerez radio</h3>

<div>
	<img
		src="https://cswdadlxiubwdzvqzywc.supabase.co/storage/v1/object/public/solidaridad/cuadranteJunta.jpg?t=2024-12-06T10%3A04%3A48.931Z"
	/>

	<img
		src="https://cswdadlxiubwdzvqzywc.supabase.co/storage/v1/object/public/solidaridad/cuadranteAVV.jpg?t=2024-12-06T10%3A05%3A17.008Z"
	/>
</div>

<main class="OCM-flex-dark OCM-flex-dark--center">
	<app-card-menu
		titulo="Intervención 20/11/2024 Miguel A. Martinez + AVV La Plata"
		(click)="navigateTo('intervencion20241120')"
	/>
	<app-card-menu
		titulo="Intervención 27/11/2024Juan Garrucho + AVV La Granja"
		(click)="navigateTo('intervencion20241127')"
	/>
	<app-card-menu
		titulo="Intervención 04/12/2024 Manuel Cazorla + AVV Vallesequillo II"
		(click)="navigateTo('intervencion20241204')"
	/>

	<app-card-menu
		titulo="Intervención 11/12/2024 Manuel Cazorla + AVV La Cartuja"
		(click)="navigateTo('intervencion20241211')"
	/>
	<app-card-menu
		titulo="Intervención 18/12/2024 Averia. Manuel Cazorla +  AVV La Integración"
		(click)="navigateTo('intervencion20241218')"
	/>
	<app-card-menu
		titulo="Intervención 08/01/2025 Antonio Ramos + AVV Federico Mayo "
		(click)="navigateTo('intervencion20250108')"
	/>
</main>
