<section class="OCM-flexEstadoLicitacion">
	<figure class="OCM-containerEstadoLicitacion OCM-containerEstadoLicitacion--figure">
		<img src="{{ imgURL }}" alt="Foto proyecto" />
	</figure>

	<div class="OCM-containerEstadoLicitacion">
		<table class="OCM-tableEstadoLicitacion">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Etapa</th>
				</tr>
			</thead>
			<tbody>
				@for (step of steps; track step) {
					<tr>
						<td>{{ step.date | date: 'd-MM-yyyy' }}</td>
						<td>{{ step.step }}</td>
					</tr>
				}
			</tbody>
		</table>
	</div>

	<div class="OCM-containerEstadoLicitacion OCM-containerEstadoLicitacion--figure">
		<img src="{{ gauge }}" alt="" />
	</div>
</section>

@if (canAddRowSupabase) {
	<button class="OCM-button" (click)="addStep()">Añadir step</button>
	<button class="OCM-button" (click)="updateLicitacion()">Editar licitación</button>
}
