<main class="OCM-dark-teme">
	@if (isLicitacion) {
		<header class="OCM-subtitle-dark">{{ descripcion }}</header>
		<app-estado-licitacion [steps]="steps" [imgURL]="imgURL" [gauge]="gauge" />
		<app-data-general [data]="data" />
	} @else {
		<header class="OCM-title-dark">{{ title }}</header>
	}

	@if (subTag === 'barri') {
		<div class="OCM-imgGraph OCM-imgGraph--md">
			<img [src]="pathImg + tag + '.jpg'" alt="Imagen del barrio" />
		</div>
	}

	@switch (tag) {
		@case ('deudaTotal') {
			<img class="OCM-imgGraph" [src]="deudaTotalImgURL" alt="Grafico deuda total" />
		}
		@case ('deudaViva') {
			<img class="OCM-imgGraph" [src]="deudaVivaImgURL" alt="Grafico deuda viva" />
		}
		@case ('pmp') {
			<img class="OCM-imgGraph" [src]="pmpURL" alt="Grafico PMP" />
		}
		@case ('opa') {
			<img class="OCM-imgGraph" [src]="opaURL" alt="Grafico OPA" />
		}
		<!-- @case ('distritoCentro') {
			<img class="OCM-imgGraph" [src]="imgURL" alt="Distrito" />
			<section class="OCM-containerTable">
				<table class="OCM-table">
					<thead>
						<tr>
							<th>Barrio</th>
							<th>URL</th>
						</tr>
					</thead>
					<tbody>
						@for (barrio of barrios; track barrio) {
							<tr>
								<td>{{ barrio.value }}</td>
							</tr>
						}
					</tbody>
				</table>
			</section>
		} -->
		@case ('subvenciones') {
			<app-seguimiento-subvencion [stepsSubvencion]="stepsSubvencion" />
		}
	}

	@if (docs.length > 0) {
		<app-documentos [docs]="docs" />
	}

	<app-noticias [news]="news" />

	@if (coms.length > 0) {
		<app-comentarios [coms]="coms" />
	}
</main>
