<main class="OCM-dark-teme">
	<header class="OCM-title-dark">{{ title }}</header>

	@if (subTag === 'barri') {
		<div class="OCM-imgGraph OCM-imgGraph--md">
			<img [src]="pathImg + tag + '.jpg'" alt="Imagen del barrio" />
		</div>
	}

	@switch (tag) {
		@case ('deudaTotal') {
			<img class="OCM-imgGraph" [src]="deudaTotalImgURL" alt="Grafico deuda total" />
		}
		@case ('deudaViva') {
			<img class="OCM-imgGraph" [src]="deudaVivaImgURL" alt="Grafico deuda viva" />
		}
		@case ('pmp') {
			<img class="OCM-imgGraph" [src]="pmpURL" alt="Grafico PMP" />
		}
		@case ('opa') {
			<img class="OCM-imgGraph" [src]="opaURL" alt="Grafico OPA" />
		}
	}

	@if (docs.length > 0) {
		<app-documentos [docs]="docs" />
	}

	<app-noticias [news]="news" />

	@if (coms.length > 0) {
		<app-comentarios [coms]="coms" />
	}
</main>
