<div class="OCM-button-container">
	<button class="OCM-button-volver" (click)="volver()"></button>
</div>
<h3 class="OCM-title-dark">Intervención 20/11/2024 Miguel A. Martinez + AVV "La Plata" Jerónimo Grosso</h3>

<main class="OCM-flex-dark OCM-flex-dark--center">
	<app-card-menu
		[titulo]="'Foto'"
		(click)="navigateTo('https://1drv.ms/i/s!AqUr6AaNBwpDpqYlDcwhKta-6mPLwQ?e=rPKMHr')"
	></app-card-menu>
	<app-card-menu
		[titulo]="'Audio'"
		(click)="navigateTo('https://1drv.ms/u/s!AqUr6AaNBwpDpqYnKCC0GiI70upD9Q?e=t7w2Ag')"
	></app-card-menu>
</main>
