<div class="OCM-button-container">
	<button class="OCM-button-volver" (click)="volver()"></button>
</div>

<header class="OCM-title-dark">Estado de cuentas de la Federación al 31/12/2024</header>

<div class="OCM-flex OCM-flex--center">
	<img
		src="https://cswdadlxiubwdzvqzywc.supabase.co/storage/v1/object/public/solidaridad/20241231SaldoCaixa.jpg?t=2025-01-08T17%3A58%3A58.547Z"
	/>
</div>

<div class="OCM-flex OCM-flex--center">
	<img
		src="https://cswdadlxiubwdzvqzywc.supabase.co/storage/v1/object/public/solidaridad/20241231SaldoCaja.jpg?t=2025-01-08T17%3A59%3A08.134Z"
	/>
</div>
