<header class="OCM-title-dark">Plataforma por Asta Regia</header>
<!-- <div class="OCM-flex OCM-flex--center">
	<img
		class="fotoCabecera"
		src="https://cswdadlxiubwdzvqzywc.supabase.co/storage/v1/object/public/solidaridad/cartuja800.jpg?t=2024-12-07T08%3A36%3A08.115Z"
		alt="Slider image"
	/>
</div> -->
<!-- 
<div class="OCM-flex OCM-flex--right">
	<button class="OCM-button" (click)="addCom()">+ comentario</button>
</div> -->

<app-botones-add [tag]="tag"></app-botones-add>

<app-informaciones [tag]="tag"></app-informaciones>
