<h3 class="OCM-title-dark">Principales reivindicaciones</h3>

<h3 class="OCM-title-dark">Competencias de prestación obligatoria</h3>
<section class="OCM-gridMenu">
	<app-card-menu
		rutaImagen="https://cswdadlxiubwdzvqzywc.supabase.co/storage/v1/object/public/solidaridad/alumbradoPublico.jpg?t=2024-12-08T07%3A14%3A15.962Z"
		titulo="Alumbrado público"
		(click)="navigateTo('alumbrado')"
	/>
	<app-card-menu
		rutaImagen="https://cswdadlxiubwdzvqzywc.supabase.co/storage/v1/object/public/solidaridad/cementerio.jpg?t=2024-12-08T07%3A18%3A38.615Z"
		titulo="Cementerio"
		(click)="navigateTo('cementerio')"
	/>
	<app-card-menu
		rutaImagen="https://cswdadlxiubwdzvqzywc.supabase.co/storage/v1/object/public/solidaridad/recogidaResiduos.jpg?t=2024-12-08T07%3A22%3A10.580Z"
		titulo="Recogida de residuos"
		(click)="navigateTo('recogidaResiduos')"
	/>
	<app-card-menu
		rutaImagen="https://cswdadlxiubwdzvqzywc.supabase.co/storage/v1/object/public/solidaridad/limpiezaViaria.jpg?t=2024-12-07T15%3A13%3A15.304Z"
		titulo="Limpieza viaria"
		(click)="navigateTo('limpiezaViaria')"
	/>
	<app-card-menu
		rutaImagen=""
		titulo="Abastecimiento domiciliario de agua potable"
		(click)="navigateTo('/limpiezaViaria')"
	/>
	<app-card-menu rutaImagen="" titulo="Alcantarillado" (click)="navigateTo('/limpiezaViaria')" />
	<app-card-menu rutaImagen="" titulo="Acceso a los nucleos de población" (click)="navigateTo('/limpiezaViaria')" />
	<app-card-menu rutaImagen="" titulo="Pavimentación de las vías públicas" (click)="navigateTo('/limpiezaViaria')" />
	<app-card-menu rutaImagen="" titulo="Parques públicos" (click)="navigateTo('/limpiezaViaria')" />
	<app-card-menu rutaImagen="" titulo="Bibliotecas públicas" (click)="navigateTo('/limpiezaViaria')" />
	<app-card-menu rutaImagen="" titulo="Tratamiento de residuos" (click)="navigateTo('/limpiezaViaria')" />
	<app-card-menu rutaImagen="" titulo="Protección civil" (click)="navigateTo('/limpiezaViaria')" />
	<app-card-menu
		rutaImagen=""
		titulo="Atención personas en riego de exclusión social"
		(click)="navigateTo('/limpiezaViaria')"
	/>
	<app-card-menu rutaImagen="" titulo="Prevención y extinción de incendios" (click)="navigateTo('/limpiezaViaria')" />
	<app-card-menu
		rutaImagen=""
		titulo="Instalaciones deportivas de uso público"
		(click)="navigateTo('/limpiezaViaria')"
	/>
	<app-card-menu
		rutaImagen=""
		titulo="Transporte colectivo urbano de viajeros"
		(click)="navigateTo('/limpiezaViaria')"
	/>
	<app-card-menu rutaImagen="" titulo="Medio ambiente urbano" (click)="navigateTo('/limpiezaViaria')" />
	<app-card-menu rutaImagen="" titulo="Parques y jardines públicos" (click)="navigateTo('/limpiezaViaria')" />
	<app-card-menu
		rutaImagen=""
		titulo="Gestión de los residuos solidos urbanos"
		(click)="navigateTo('/limpiezaViaria')"
	/>
	<app-card-menu
		rutaImagen=""
		titulo="Protección contra contaminación acústica, lumínica y atmosferica"
		(click)="navigateTo('/limpiezaViaria')"
	/>
</section>

<h3 class="OCM-title-dark">Competencias propias</h3>
<section class="OCM-gridMenu">
	<app-card-menu rutaImagen="" titulo="Alumbrado público" (click)="navigateTo('/limpiezaViaria')" />
	<app-card-menu rutaImagen="" titulo="Cementerio" (click)="navigateTo('/limpiezaViaria')" />
	<app-card-menu rutaImagen="" titulo="Recogida de residuos" (click)="navigateTo('/limpiezaViaria')" />
	<app-card-menu
		rutaImagen="https://cswdadlxiubwdzvqzywc.supabase.co/storage/v1/object/public/solidaridad/limpiezaViaria.jpg?t=2024-12-07T15%3A13%3A15.304Z"
		titulo="Limpieza viaria"
		(click)="navigateTo('/limpiezaViaria')"
	/>
	<app-card-menu
		rutaImagen=""
		titulo="Abastecimiento domiciliario de agua potable"
		(click)="navigateTo('/limpiezaViaria')"
	/>
	<app-card-menu rutaImagen="" titulo="Alcantarillado" (click)="navigateTo('/limpiezaViaria')" />
	<app-card-menu rutaImagen="" titulo="Acceso a los nucleos de población" (click)="navigateTo('/limpiezaViaria')" />
	<app-card-menu rutaImagen="" titulo="Pavimentación de las vías públicas" (click)="navigateTo('/limpiezaViaria')" />
	<app-card-menu rutaImagen="" titulo="Parques públicos" (click)="navigateTo('/limpiezaViaria')" />
	<app-card-menu rutaImagen="" titulo="Bibliotecas públicas" (click)="navigateTo('/limpiezaViaria')" />
	<app-card-menu rutaImagen="" titulo="Tratamiento de residuos" (click)="navigateTo('/limpiezaViaria')" />
	<app-card-menu rutaImagen="" titulo="Protección civil" (click)="navigateTo('/limpiezaViaria')" />
	<app-card-menu
		rutaImagen=""
		titulo="Atención personas en riego de exclusión social"
		(click)="navigateTo('/limpiezaViaria')"
	/>
	<app-card-menu rutaImagen="" titulo="Prevención y extinción de incendios" (click)="navigateTo('/limpiezaViaria')" />
	<app-card-menu
		rutaImagen=""
		titulo="Instalaciones deportivas de uso público"
		(click)="navigateTo('/limpiezaViaria')"
	/>
	<app-card-menu
		rutaImagen=""
		titulo="Transporte colectivo urbano de viajeros"
		(click)="navigateTo('/limpiezaViaria')"
	/>
	<app-card-menu rutaImagen="" titulo="Medio ambiente urbano" (click)="navigateTo('/limpiezaViaria')" />
	<app-card-menu rutaImagen="" titulo="Parques y jardines públicos" (click)="navigateTo('/limpiezaViaria')" />
	<app-card-menu
		rutaImagen=""
		titulo="Gestión de los residuos solidos urbanos"
		(click)="navigateTo('/limpiezaViaria')"
	/>
	<app-card-menu
		rutaImagen=""
		titulo="Protección contra contaminación acústica, lumínica y atmosferica"
		(click)="navigateTo('/limpiezaViaria')"
	/>
</section>
