.tableDataPuesto {
	width: 99%;
	margin: 10px;
	tbody {
		td {
			font-size: 1.2rem;
			padding: 6px;

			&:nth-child(1) {
				width: 10%;
			}
			&:nth-child(2) {
				width: 84%;
			}
			&:nth-child(3) {
				width: 6%;
				text-align: center;
			}
		}
	}

	tr:nth-child(even) {
		background: #dcf3bc;
	}
	tr:nth-child(odd) {
		background: #e3ede0;
	}
}

.tableDataPersona {
	width: 99%;
	margin: 10px;

	th {
		font-size: 12px;
		background: #cfe0b8;
	}
	td {
		font-size: 12px;
		padding: 6px;
		background: #dcf3bc;
	}

	td:nth-child(1) {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
