<!-- https://codepen.io/havardob/pen/BapJYMg -->
<fieldset class="checkbox-group">
	<legend class="checkbox-group-legend">Selecciona año a mostrar</legend>
	<div class="checkbox">
		@for (item of years; track item) {
			<label>
				<input type="checkbox" class="checkbox-input" [(ngModel)]="item.checked" (change)="changeCheckbox(item)" />
				<span class="checkbox-tile">
					<span class="checkbox-label">{{ item.year }}</span>
				</span>
			</label>
		}
		@if (multiYears) {
			<button type="button" class="OCM-button" (click)="toggle()">
				{{ textButton }}
			</button>
		}
	</div>
</fieldset>
