<main class="OCM-dark-teme">
	<h2 class="OCM-title-dark">Licitaciones</h2>

	<section class="OCM-flex OCM-flex--center">
		<button class="OCM-button-container OCM-button" type="button" (click)="appOCM()">App OCM</button>
		<ng-container>
			@for (btn of botonesTipos; track btn) {
				<button
					class="OCM-button-container OCM-button"
					[ngClass]="selectedButton === btn.tipo ? 'OCM-button-selected' : 'OCM-button-container OCM-button'"
					(click)="cambiarEstado(btn.tipo)"
				>
					{{ btn.label }}
				</button>
			}
		</ng-container>
	</section>

	<section>
		<div class="InputContainer">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="#657789"
				stroke-width="3"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="feather feather-search"
			>
				<circle cx="11" cy="11" r="8" />
				<line x1="21" y1="21" x2="16.65" y2="16.65" />
			</svg>
			<input type="text" [(ngModel)]="searchText" (input)="filterData()" placeholder="Buscar licitaciones..." />
		</div>

		@if (canAddRowSupabase) {
			<button class="OCM-button" (click)="addNew()">Añadir licitación</button>
		}
	</section>

	<section class="reveal-animation">
		@if (selectedButton === 'todas') {
			<header class="OCM-subtitle-dark OCM-subtitle-dark--center">Todas</header>

			<section class="OCM-flex OCM-flex--center">
				<ng-container>
					@for (btn of botonesTodas; track btn) {
						<button
							class="OCM-button-container OCM-button"
							[ngClass]="
								selectedButtonClasification === btn.tipo + btn.estado
									? 'OCM-button-selected'
									: 'OCM-button-container OCM-button'
							"
							(click)="filterByTipoEstado(btn.tipo, btn.estado)"
						>
							{{ btn.label }}
						</button>
					}
				</ng-container>
			</section>

			<section class="gridMenu">
				@for (menu of licitacionesAll; track menu) {
					<section [class.highlight]="menu.highlighted">
						<app-card-menu [titulo]="menu.title" [rutaImagen]="menu.rutaImagen" (click)="menu.funcion()" />
					</section>
				}
			</section>
		}

		@if (selectedButton === 'ayuntamiento') {
			<header class="OCM-subtitle-dark OCM-subtitle-dark--center">Con fondos propios del Ayuntamiento</header>

			<section class="OCM-flex OCM-flex--center">
				<ng-container>
					@for (btn of botonesAyuntamiento; track btn) {
						<button
							class="OCM-button-container OCM-button"
							[ngClass]="
								selectedButtonClasification === btn.tipo + btn.estado
									? 'OCM-button-selected'
									: 'OCM-button-container OCM-button'
							"
							(click)="filterByTipoEstado(btn.tipo, btn.estado)"
						>
							{{ btn.label }}
						</button>
					}
				</ng-container>
			</section>

			<section class="gridMenu">
				@for (menu of licitacionesAyto; track menu) {
					<section [class.highlight]="menu.highlighted">
						<app-card-menu [titulo]="menu.title" [rutaImagen]="menu.rutaImagen" (click)="menu.funcion()" />
					</section>
				}
			</section>
		}

		@if (selectedButton === 'cee') {
			<header class="OCM-subtitle-dark OCM-subtitle-dark--center">Con subvención CEE</header>
			<section class="OCM-flex OCM-flex--center">
				<ng-container>
					@for (btn of botonesCEE; track btn) {
						<button
							class="OCM-button-container OCM-button"
							[ngClass]="
								selectedButtonClasification === btn.tipo + btn.estado
									? 'OCM-button-selected'
									: 'OCM-button-container OCM-button'
							"
							(click)="filterByTipoEstado(btn.tipo, btn.estado)"
						>
							{{ btn.label }}
						</button>
					}
				</ng-container>
			</section>

			<section class="gridMenu">
				@for (menu of licitacionesCEE; track menu) {
					<section [class.highlight]="menu.highlighted">
						<app-card-menu [titulo]="menu.title" [rutaImagen]="menu.rutaImagen" (click)="menu.funcion()" />
					</section>
				}
			</section>
		}

		@if (selectedButton === 'diputacion') {
			<header class="OCM-subtitle-dark OCM-subtitle-dark--center">Con subvención Diputación Provincial de Cádiz</header>
			<section class="OCM-flex OCM-flex--center">
				<ng-container>
					@for (btn of botonesDiputacion; track btn) {
						<button
							class="OCM-button-container OCM-button"
							[ngClass]="
								selectedButtonClasification === btn.tipo + btn.estado
									? 'OCM-button-selected'
									: 'OCM-button-container OCM-button'
							"
							(click)="filterByTipoEstado(btn.tipo, btn.estado)"
						>
							{{ btn.label }}
						</button>
					}
				</ng-container>
			</section>
			<section class="gridMenu">
				@for (menu of licitacionesDiputacion; track menu) {
					<section [class.highlight]="menu.highlighted">
						<app-card-menu [titulo]="menu.title" [rutaImagen]="menu.rutaImagen" (click)="menu.funcion()" />
					</section>
				}
			</section>
		}

		@if (selectedButton === 'gobierno') {
			<header class="OCM-subtitle-dark OCM-subtitle-dark--center">Con subvención Gobierno de España</header>
			<section class="gridMenu">
				@for (menu of licitacionesESP; track menu) {
					<section [class.highlight]="menu.highlighted">
						<app-card-menu [titulo]="menu.titulo" [rutaImagen]="menu.rutaImagen" (click)="menu.funcion()" />
					</section>
				} @empty {
					<p class="OCM-subtitle-dark s">No hay licitaciones con subvención del Gobierno de España</p>
				}
			</section>
		}

		@if (selectedButton === 'junta') {
			<header class="OCM-subtitle-dark OCM-subtitle-dark--center">Con subvención Junta de Andalucía</header>
			<section class="OCM-flex OCM-flex--center">
				<ng-container>
					@for (btn of botonesJunta; track btn) {
						<button
							class="OCM-button-container OCM-button"
							[ngClass]="
								selectedButtonClasification === btn.tipo + btn.estado
									? 'OCM-button-selected'
									: 'OCM-button-container OCM-button'
							"
							(click)="filterByTipoEstado(btn.tipo, btn.estado)"
						>
							{{ btn.label }}
						</button>
					}
				</ng-container>
			</section>
			<section class="gridMenu">
				@for (menu of licitacionesJunta; track menu) {
					<section [class.highlight]="menu.highlighted">
						<app-card-menu [titulo]="menu.title" [rutaImagen]="menu.rutaImagen" (click)="menu.funcion()" />
					</section>
				}
			</section>
		}

		@if (selectedButton === 'solares') {
			<header class="OCM-subtitle-dark OCM-subtitle-dark--center">
				Subastas Registro Municipal de Solares y Edificaciones Ruinosas
			</header>
			<section class="OCM-flex OCM-flex--center">
				<ng-container>
					@for (btn of botonesSolares; track btn) {
						<button
							class="OCM-button-container OCM-button"
							[ngClass]="
								selectedButtonClasification === btn.tipo + btn.estado
									? 'OCM-button-selected'
									: 'OCM-button-container OCM-button'
							"
							(click)="filterByTipoEstado(btn.tipo, btn.estado)"
						>
							{{ btn.label }}
						</button>
					}
				</ng-container>
			</section>
			<section class="gridMenu">
				@for (menu of licitacionesSolares; track menu) {
					<section [class.highlight]="menu.highlighted">
						<app-card-menu [titulo]="menu.title" [rutaImagen]="menu.rutaImagen" (click)="menu.funcion()" />
					</section>
				}
			</section>
		}
	</section>
</main>
