<div class="OCM-button-container">
	<button class="OCM-button-volver" (click)="volver()"></button>
</div>
<header class="OCM-title-dark">{{ titulo }}</header>

<main class="OCM-flex-dark OCM-flex-dark--center">
	@if (rutaDocumento) {
		<app-card-menu [titulo]="'Documento colaborativo guion'" (click)="navigateTo(rutaDocumento)"></app-card-menu>
	}
	@if (rutaFoto) {
		<app-card-menu [titulo]="'Foto'" (click)="navigateTo(rutaFoto)"></app-card-menu>
	}
	@if (rutaAudio) {
		<app-card-menu [titulo]="'Audio'" (click)="navigateTo(rutaAudio)"></app-card-menu>
	}
</main>
