<div class="OCM-button-container">
	<button class="OCM-button-volver" (click)="volver()"></button>
	<button class="OCM-button" (click)="addCom()">+ comentario</button>
</div>

<div>
	<header>Reunión telemática Comisión Ejecutiva día 14/01/2025. Preparación reunión Junta Directiva</header>
</div>

<!-- // Calendario // -->
<div class="OCM-flex-dark OCM-flex-dark--center">
	<img
		src="https://cswdadlxiubwdzvqzywc.supabase.co/storage/v1/object/public/solidaridad/Calendario20250114.jpg?t=2025-01-11T11%3A40%3A26.955Z"
	/>
</div>

<app-informaciones [tag]="tag"></app-informaciones>
