<h3 class="OCM-title-dark">Órganos de Gobierno de la Federación</h3>

<main class="OCM-gridMenu">
	<app-card-menu titulo="Asambleas Generales" (click)="navigateTo('/secretariasReuniones')" />

	<app-card-menu titulo="Asambleas Consejo Vecinal" (click)="navigateTo('/secretariasReuniones')" />

	<app-card-menu titulo="Reuniones Junta Directiva" (click)="navigateTo('/secretariasReuniones')" />

	<app-card-menu titulo="Reuniones Ejecutiva" (click)="navigateTo('/secretariasReuniones')" />

	<app-card-menu titulo="Reuniones otras entidadess" (click)="navigateTo('/secretariasReunionesOtrasEntidades')" />

	<app-card-menu
		rutaImagen="assets/img/ondaJerez.png"
		titulo="Intervenciones"
		(click)="navigateTo('/OndaJerezRadio')"
	/>
</main>
