<h3 class="OCM-title-dark">Órganos de Gobierno de la Federación</h3>

<main class="OCM-gridMenu">
	<app-card-menu titulo="Asambleas Generales" (click)="navigateTo('/secretariasReuniones')" />

	<app-card-menu titulo="Asambleas Consejo Vecinal" (click)="navigateTo('/secretariasReuniones')" />

	<app-card-menu titulo="Reuniones Junta Directiva" (click)="navigateTo('/secretariasReuniones')" />

	<app-card-menu titulo="Reuniones Comisión Ejecutiva" (click)="navigateTo('/secretariasReuniones')" />

	<app-card-menu titulo="Reuniones otras entidadess" (click)="navigateTo('/secretariasReunionesOtrasEntidades')" />

	<app-card-menu titulo="Programa e Onda Jerez radio" (click)="navigateTo('/OndaJerezRadio')" />
</main>

<!-- rutaImagen="assets/img/ondaJerez.png" -->
