<main class="OCM-dark-teme">
	<header class="OCM-title-dark">{{ descripcion }}</header>

	<section class="OCM-containerTable">
		<table class="OCM-table">
			<tbody>
				@for (data of data; track data) {
					<tr>
						<!-- Solo muestra las filas donde 'data.value' no está vacío y 'data.URL' no es una clave o está vacío -->
						@if (data.value !== '' && (!hasKey(data, 'URL') || (hasKey(data, 'URL') && data.URL !== ''))) {
							<td>{{ data.data }}</td>
							<td>{{ data.value }}</td>
							<!-- Solo muestra la columna de enlace cuando 'data.URL' no está vacío -->
							@if (hasKey(data, 'URL') && data.URL !== '') {
								<td><a href="{{ data.URL }}" target="_blank" rel="noopener noreferrer">Enlace</a></td>
							}
						}
					</tr>
				}
			</tbody>
		</table>
	</section>

	<section class="flex">
		<div style="color: white" class="OCM-cardTableSeguimiento">
			<table class="paleBlueRowsSeguimiento">
				<thead>
					<tr>
						<th>Descripción</th>
						<th>Observaciones</th>
						<th>Cuantia</th>
						<!-- <th>Completada</th> -->
					</tr>
				</thead>
				<tbody>
					@for (step of steps; track step) {
						<tr>
							<td>{{ step.descripcion }}</td>
							<td>{{ step.observaciones }}</td>
							<td>{{ step.cuantia }}</td>
							<!-- <td>{{ step.isFinish }}</td> -->
						</tr>
					}
				</tbody>
			</table>
		</div>
	</section>

	<section class="OCM-containerTable">
		<header class="OCM-subtitle-dark">Noticias</header>
		<table class="OCM-table">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Medio</th>
					<th>Título</th>
					<th>URL</th>
				</tr>
			</thead>
			<tbody>
				@for (new of news; track new) {
					<tr>
						@if (new.URL !== '') {
							<td>{{ new.date }}</td>
							<td>{{ new.medio }}</td>
							<td>{{ new.title }}</td>
							<td><a href="{{ new.URL }}" target="_blank" rel="noopener noreferrer">Enlace</a></td>
						}
					</tr>
				}
			</tbody>
		</table>
	</section>
</main>
