<div class="OCM-button-container">
	<button class="OCM-button-volver" (click)="volver()"></button>
</div>
<h3 class="OCM-title-dark">Intervención 27/11/2024 Juan Garrucho + AVV "La Granja" José Saborido</h3>

<main class="OCM-flex-dark OCM-flex-dark--center">
	<app-card-menu
		[titulo]="'Documento colaborativo guión'"
		(click)="
			navigateTo('https://docs.google.com/document/d/1AoyMLGRcBsGwGG-mSWxbcb3W84bFKW381pW00ewAAro/edit?usp=sharing')
		"
	></app-card-menu>
	<app-card-menu [titulo]="'No existe Foto'" (click)="navigateTo('')"></app-card-menu>
	<app-card-menu
		[titulo]="'Audio'"
		(click)="navigateTo('https://1drv.ms/v/s!AqUr6AaNBwpDpqlVRpJvJ1NliFKyfw?e=Rh02b9')"
	></app-card-menu>
</main>
