<h3 class="OCM-title-dark">Comisión ejecutiva</h3>

<main class="OCM-flex-dark OCM-flex-dark--center">
	<button
		class="OCM-button"
		onclick="window.open('https://docs.google.com/document/d/19fHxjo0fRwu8_d9O2UwG_FKB7FQtsBpZPjWCybHgEdo/edit?usp=sharing', '_blank')"
	>
		Procedimiento funcionamiento
	</button>
</main>

<main class="OCM-flex-dark OCM-flex-dark--center">
	<app-card-menu
		titulo="07/01/2025 Aprobación procedimiento funcionamiento de esta Comisión"
		(click)="navigateTo('Fecha20250107')"
	/>
</main>

<main class="OCM-flex-dark OCM-flex-dark--center">
	<app-card-menu titulo="10/12/2024" (click)="navigateTo('Fecha20241210')" />
</main>
