<h3 class="OCM-title-dark">Reuniones Comisión Ejecutiva</h3>

<main class="OCM-flex-dark OCM-flex-dark--center">
	<button
		class="OCM-button"
		onclick="window.open('https://onedrive.live.com/view.aspx?resid=430A078D06E82BA5!628903&authkey=!AOZ66oR05tT74Rg', '_blank')"
	>
		Procedimiento funcionamiento
	</button>
</main>

<main class="OCM-flex-dark OCM-flex-dark--center">
	<app-card-menu
		titulo="14/01/2025 Preparación convocatoria reunión Junta Directiva"
		(click)="navigateTo('Fecha20250114')"
	/>
</main>

<main class="OCM-flex-dark OCM-flex-dark--center">
	<app-card-menu
		titulo="07/01/2025 Aprobación procedimiento funcionamiento de esta Comisión"
		(click)="navigateTo('Fecha20250107')"
	/>
</main>

<main class="OCM-flex-dark OCM-flex-dark--center">
	<app-card-menu titulo="10/12/2024" (click)="navigateTo('Fecha20241210')" />
</main>
