<!-- <h2 class="OCM-text--subtitulo" [innerHTML]="title + '.'"></h2> -->
<header class="OCM-text--subtitulo">{{ title }}</header>

<section class="OCM-flex OCM-flex--right">
	<button type="button" class="OCM-button" (click)="ficha()">Ficha</button>
	<button type="button" class="OCM-button" (click)="volver()">Volver</button>
</section>

<div class="agGrid">
	@if (gridOptions) {
		<ag-grid-angular
			#agGrid
			id="agGrid"
			style="width: 100%; height: 90vh; padding-right: 20px; margin-left: 10px"
			class="ag-theme-balham"
			[autoGroupColumnDef]="autoGroupColumnDef"
			[groupDisplayType]="groupDisplayType"
			[gridOptions]="gridOptions"
			(gridReady)="onGridReady($event)"
		>
		</ag-grid-angular>
	}
</div>
