<header class="OCM-title">Gestiones ({{ gestiones().length }})</header>

<section class="OCM-containerTable">
	<table class="OCM-tableComentariosGestiones">
		<thead>
			<tr>
				<th>Fecha</th>
				<th>Gestor</th>
				<th>texto</th>
			</tr>
		</thead>
		<tbody>
			@for (gestion of gestiones(); track gestion.id) {
				<tr>
					@switch (gestion.confidencial) {
						@case (true) {
							@if (canViewConfidencial) {
								<td>{{ gestion.date | customDate: 'd-MM-yyyy' }}</td>
								<td style="color: red">CONFIDENCIAL {{ gestion.gestor }}</td>
								<td>{{ gestion.text }}</td>
							}
						}
						@case (false) {
							<td>{{ gestion.date | customDate: 'd-MM-yyyy' }}</td>
							<td>{{ gestion.gestor }}</td>
							<td>{{ gestion.text }}</td>
						}
					}
				</tr>
			}
		</tbody>
	</table>
</section>
