<img [src]="images[currentImageIndex]" alt="Slider image" class="hero-image" />

<section class="featured-section">
	<div>
		<p class="text-primary">Nuestras áreas de trabajo</p>
	</div>
	<div class="featured-grid">
		<!-- https://www.svgrepo.com/ -->
		<div class="featured-item" (click)="navigateTo('/asociacionesFederadas')">
			<object data="assets/img/asociaciones.svg" type="image/svg+xml" class="icon" width="48" height="48"></object>
			<h3>Asociaciones vecinales federadas</h3>
			<p>Apostamos por la participación ciudadana.</p>
		</div>
		<div class="featured-item">
			<object data="assets/img/sanidad.svg" type="image/svg+xml" class="icon" width="48" height="48"></object>
			<h3>Sanidad</h3>
			<p>Reindivicación constante de una sanidad pública de calidad.</p>
		</div>

		<div class="featured-item">
			<object data="assets/img/plataformas.svg" type="image/svg+xml" class="icon" width="48" height="48"></object>
			<h3>Plataformas</h3>
			<p>Participamos en plataformas ciudadanas.</p>
		</div>
	</div>
</section>
