.featured-section {
	padding: 1rem;
}

.featured-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 2rem;
	margin-top: 2rem;
}
.featured-item {
	text-align: center;
	background: white;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hero-image {
	width: 100%;
}

.icon {
	font-size: 2.5rem;
}

@media (max-width: 768px) {
	.hero {
		height: 160px;
	}

	.hero-content {
		max-width: 100%;
		height: 40vh;
	}

	.hero h1 {
		font-size: 0.7rem;
	}

	.featured-grid {
		display: flex;
		grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));
		gap: 0.5rem;
	}
}
