<div class="OCM-dark-teme OCM-flex OCM-flex--center">
	<form [formGroup]="userForm" (ngSubmit)="guardar()">
		<fieldset class="OCM-Fieldset">
			<header class="OCM-subtitle-dark">Añadir noticia en {{ tag }}</header>

			<label for="date" class="OCM-label-dark OCM-label-dark--marginTop">Fecha</label>
			<input type="date" class="OCMInputDate" id="date" formControlName="date" />
			@if (userForm?.get('date')?.invalid && userForm?.get('date')?.touched) {
				<span class="OCM-alert">Fecha es requerida.</span>
			}

			<label for="media" class="OCM-label-dark OCM-label-dark--marginTop">Medio</label>
			<input type="text" class="OCMInputMedia" id="media" formControlName="media" list="medios" />
			<datalist id="medios">
				<option value="Diario de Jerez"></option>
				<option value="La Voz del Sur"></option>
				<option value="Viva Jerez"></option>
				<option value="Mira Jerez"></option>
				<!-- <option value="Mira Jerez">Stop being a troll</option> -->
			</datalist>
			@if (userForm?.get('media')?.invalid && userForm?.get('media')?.touched) {
				<span class="OCM-alert">Medio es requerido.</span>
			}

			<label for="title" class="OCM-label-dark OCM-label-dark--marginTop">Titulo</label>
			<input type="text" class="OCMInputLong" id="title" formControlName="title" />
			@if (userForm?.get('title')?.invalid && userForm?.get('title')?.touched) {
				<span class="OCM-alert">Titulo es requerido.</span>
			}

			<label for="url_new" class="OCM-label-dark OCM-label-dark--marginTop">URL</label>
			<input type="url" class="OCMInputLong" id="url_new" formControlName="url_new" />
			@if (userForm?.get('url_new')?.invalid && userForm?.get('url_new')?.touched) {
				<span class="OCM-alerts">URL es requerido.</span>
			}

			<button type="submit" [disabled]="!userForm.valid" class="OCM-button-container OCM-button">Grabar</button>
		</fieldset>
	</form>
</div>
