<div class="cabecera">
	<header class="headerHome">¡Bienvenidos a la barriada de San Enrique!</header>
	<p>Un barrio rebosante de historia y vitalidad, habitado por personas que lo consideran su propio hogar.</p>

	<p>
		Pretendemos recoger las inquitudes de la vida en el barrio, las necesidades de sus habitantes, las propuestas de
		mejora y las denuncias de lo que no funciona.
	</p>
</div>

<div class="divCenter">
	<img
		class="fotoCabecera"
		src="https://cswdadlxiubwdzvqzywc.supabase.co/storage/v1/object/public/sanEnrique/2024.11.30%20Diario%20de%20Jerez.jpg?t=2024-11-30T10%3A37%3A33.500Z"
		alt="Slider image"
	/>
</div>

<!-- <div>
	<video
		controls
		poster="https://cswdadlxiubwdzvqzywc.supabase.co/storage/v1/object/public/albarizuela/caratulaVideo.jpg?t=2024-09-14T07%3A36%3A03.902Z"
	>
		<source
			src="https://cswdadlxiubwdzvqzywc.supabase.co/storage/v1/object/public/albarizuela/LaAbarizuela42MB.mp4?t=2024-09-14T08%3A07%3A16.221Z"
			type="video/mp4"
		/>
		Tu navegador no soporta el elemento de video.
	</video>
</div> -->

<div class="problemas">
	<span> Principales problemas del barrio</span>
</div>
<main class="OCM-gridMenu">
	@for (card of cards; track card.tag) {
		<app-card-menu [rutaImagen]="card.rutaImagen" [titulo]="card.title" (click)="card.funcion()" />
	}
</main>
