<div class="contact-container">
	<div class="contact-info">
		<h1>Contacta con nosotros</h1>

		<div class="form-container">
			<h2>Formulario de contacto</h2>
			<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
				<div class="form-group">
					<label for="name">Nombre *</label>
					<input
						type="text"
						id="name"
						formControlName="name"
						[class.invalid]="contactForm.get('name')?.invalid && contactForm.get('name')?.touched"
					/>
				</div>

				<div class="form-group">
					<label for="email">Email</label>
					<input
						type="email"
						id="email"
						formControlName="email"
						[class.invalid]="contactForm.get('email')?.invalid && contactForm.get('email')?.touched"
					/>
				</div>

				<div class="form-group">
					<label for="phone">Teléfono</label>
					<input
						type="tel"
						id="phone"
						formControlName="phone"
						[class.invalid]="contactForm.get('phone')?.invalid && contactForm.get('phone')?.touched"
					/>
				</div>

				<div class="form-group">
					<label for="organization">Organización</label>
					<input type="text" id="organization" formControlName="organization" />
				</div>

				<div class="form-group">
					<label for="message">Mensaje *</label>
					<textarea
						id="message"
						formControlName="message"
						rows="5"
						[class.invalid]="contactForm.get('message')?.invalid && contactForm.get('message')?.touched"
					></textarea>
				</div>

				<div class="form-footer">
					<p class="required-fields">* Campos obligatorios</p>
					<button type="submit" [disabled]="!contactForm.valid">Enviar mensaje</button>
				</div>
			</form>
		</div>
	</div>
	<div class="map-section">
		<h2>Localización</h2>
		<div class="map-container">
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4153.852087845071!2d-6.131403426088779!3d36.680326972166185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd0dc6ed17857adb%3A0xcfcfbd39144018ec!2sCalle%20Diego%20Fern%C3%A1ndez%20Herrera%2C%209%2C%2011401%20Jerez%20de%20la%20Frontera%2C%20C%C3%A1diz!5e1!3m2!1ses!2ses!4v1731260457858!5m2!1ses!2ses"
				width="100%"
				height="300"
				style="border: 0"
				allowfullscreen=""
				loading="lazy"
				referrerpolicy="no-referrer-when-downgrade"
			>
			</iframe>
		</div>
		<p class="map-link">
			<a href="https://maps.google.com" target="_blank" rel="noopener noreferrer"> Ampliar el mapa </a>
		</p>
	</div>
</div>
