.main {
	container-type: inline-size;
	max-width: 1200px;
	min-width: 250px;
	background-color: #3c3d3d;

	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 60px;
		padding: 0 10px;
		box-sizing: border-box;
	}

	@container (max-width: 570px) {
		.navbar {
			height: 30px;
		}

		.logo img {
			height: 30px;
		}

		.navbar ul {
			gap: 12px;
		}
	}
}

.logo img {
	height: 60px;
}

.navbar ul {
	display: flex;
	gap: 2rem;
	list-style: none;
	margin: 0;
	padding: 0;
}

.navbar a {
	font-size: clamp(8px, 2vw, 16px);
	color: #f5f0f0;
	text-decoration: none;
	font-weight: 500;
	transition: color 0.3s;
}

.navbar a:hover {
	color: #e74c3c;
}

.avatar-button {
	display: flex;
	align-items: left;

	border-radius: 50%;
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: background-color 0.2s ease;
	&:hover {
		background-color: #3c3d3d;
	}
}

.avatar-button img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	padding-right: 4px;
	background-color: #f0f0f0;
}

@media screen and (max-width: 844px) {
	.avatar-button {
		width: 15px;
		height: 15px;
	}
}
