<span class="OCM-title" style="margin-top: 50px">Visita guiada</span>
<div>
	<p>
		El objetivo de la página de presupuestos del Ayuntamiento de Jerez de la Frontera es que cualquier persona sea capaz
		de encontrar, a unos pocos clics, de forma visual y sin tener que revisar páginas y páginas de tablas, cualquier
		línea de las cuentas de los últimos años. Si es tu primera vez y no sabes por dónde empezar, te acompañamos en un
		primer paseo.
	</p>

	<h3>¿Qué información puedes encontrar?</h3>

	<p>
		En esta web se muestran los presupuestos consolidados de ingresos y gastos del Ayuntamiento de Jerez de la Frontera
		y sus Organismos Autónomos desde el año 2011 hasta el ejercicio actual. En el apartado de
		<a href="/es/resumen">Visión global</a> puedes ver además los principales indicadores presupuestarios: ahorro bruto
		y neto así como la capacidad/necesidad de financiación del Ayuntamiento.
	</p>

	<h3 id="de-las-grandes-cifras-al-detalle">De las grandes cifras al detalle</h3>

	<p>
		Desde <a href="/es/">la portada</a> puedes acceder a la <a href="/es/resumen">visión global</a>, que te da una idea
		general de ingresos y gastos, o acceder a la página de
		<a href="/es/politicas#view=functional">políticas de gasto</a>, en la que, de un solo vistazo, puedes ver cómo se
		reparte el presupuesto y cuáles son los grandes bloques. Si te fijas en los colores, verás que están agrupados por
		tipos básicos en la barra superior y que, por ejemplo, el 44,9% del presupuesto se destina al funcionamiento de los
		servicios públicos básicos.
	</p>

	<img src="assets/img/explicamos/grafico1.jpg" alt="Vista general del panel de políticas de gasto" />

	<p>
		Desde esas grandes cifras puedes ir bajando, según te adentras en cada una de ellas, hasta llegar a niveles de
		detalle mucho más precisos. Por ejemplo: desde
		<a href="/es/politicas/23/servicios-sociales-y-promocion-social#view=functional"
			>&#39;servicios sociales y promoción social&#39;</a
		>
		puedes pasar a ver la partida de
		<a href="/es/programas/23103/personas-mayores#view=economic">&#39;personas mayores&#39;</a> en detalle.
	</p>

	<img
		src="assets/img/explicamos/graficoParaQueSeGasta.png"
		class="img-responsive"
		alt="Vista de las tablas de detalle del panel de políticas de gasto"
	/>

	<h3 id="no-solo-lo-presupuestado">No solo lo presupuestado, también lo gastado</h3>

	<p>
		La página web de los presupuestos de Jerez de la Frontera no solo informa de forma gráfica del reparto de los
		presupuestos, sino también del estado de ejecución mensual. Es decir, puedes saber cuál es la previsión total
		(previsión inicial más/menos modificaciones) de los gastos y cuánto se ha gastado de cada partida hasta la fecha de
		actualización. Los datos de ejercicios cerrados corresponden a los presupuestos liquidados.
	</p>

	<p>
		Así, lo gastado aparece junto a lo presupuestado en todas las tablas de la herramienta y, además, de forma gráfica,
		en las visualizaciones. Las franjas azules de la <a href="/es/resumen">visión global</a>, por ejemplo, muestran
		cuánto se ha gastado o ingresado, por el momento, del total previsto en los presupuestos (el fondo gris).
	</p>

	<img src="assets/img/explicamos/grafico1.jpg" class="img-responsive" alt="Vista general del panel visión global" />

	<h3 id="tambien-los-ingresos">También los ingresos</h3>

	<p>
		Esta web también incluye detalles sobre las partidas de ingresos. La
		<a href="/es/politicas#view=income">visualización</a> muestra el reparto de los grandes bloques y cómo, por ejemplo,
		los impuestos sobre el capital son la mayor fuente de financiación del ayuntamiento, seguidos por las transferencias
		de la Administración del Estado.
	</p>

	<img
		src="assets/img/explicamos/graficoIngresos.png"
		class="img-responsive"
		alt="Vista general del panel de políticas de gasto en su apartado de ingresos"
	/>

	<h3 id="mas-rapido-usa-el-buscador">Más rápido: usa el buscador</h3>

	<p>
		Hasta ahora hemos estado navegando, arriba y abajo, para ir al detalle o descubrir los grandes números. Pero, si te
		interesa un asunto concreto, existe una opción mucho más directa: utilizar el buscador, que rastrea en los
		presupuestos y en páginas de ayuda como ésta.
	</p>

	<p>
		Introduce, por ejemplo, la palabra &quot;infantil&quot;. La búsqueda te dará
		<a href="/es/busqueda?q=infantil">tres resultados</a>: uno corresponde a gastos y otros dos a ingresos. Si pinchas
		en el primer resultado podrás ver el
		<a href="/es/programas/32301/Centros%20docentes%20ense%C3%B1anza%20infantil%20y%20primaria#view=economic"
			>presupuesto y el gasto en centros docentes de enseñanza infantil y primaria</a
		>.
	</p>

	<h3 id="la-evolucion-desde-2011">La evolución desde 2011</h3>

	<p>
		A veces tu curiosidad irá más allá y querrás saber cómo ha evolucionado un determinado gasto o ingreso en los
		últimos años. ¿Se destina más a una determinada partida o se ingresa más de un impuesto concreto ahora que hace unos
		años? La web de presupuestos de Jerez de la Frontera contiene datos desde 2011. Así, por ejemplo, puedes saber
		cuánto se ha presupuestado, y gastado, en
		<a href="/es/programas/33210/Bibliotecas%20p%C3%BAblicas%20y%20patrimonio%20bibliogr%C3%A1fico#view=economic"
			>bibliotecas públicas</a
		>
		desde ese año.
	</p>

	<img
		src="assets/img/explicamos/guidedvisit-5.jpg"
		class="img-responsive"
		alt="Vista de detalle de las tablas del panel de evolución temporal"
	/>

	<h3 id="que-tipo-de-cantidades-puedes-ver">¿Qué tipo de cantidades puedes ver?</h3>

	<p>
		Podrás ver las cantidades de lo que ingresa, gasta e invierte el Ayuntamiento de distintas formas: nominales, reales
		(ajustadas a inflación), porcentaje sobre el total y per cápita (real).
	</p>

	<img
		src="assets/img/explicamos/guidedvisit-10.jpg"
		class="img-responsive"
		alt="Vista de detalle del selector de cantidades"
	/>

	<h3 id="quien-lo-gasta">¿Quién lo gasta?</h3>

	<p>
		Hasta ahora nos hemos centrado en la clasificación funcional o por programas, es decir, a qué se destina el dinero.
		Pero, en algunos casos, es interesante saber qué unidad orgánica se encarga de la gestión. Por ejemplo, en el
		programa de <a href="/es/politicas/15/vivienda-y-urbanismo#view=institutional">Vivienda y urbanismo</a> puedes ver,
		desglosado tras abrir el apartado del Ayuntamiento, la parte que gestionan directamente los distritos.
	</p>

	<h3 id="en-que-se-gasta">¿En qué se gasta?</h3>

	<p>
		La tercera pata de un presupuesto de gastos es la clasificación económica o, lo que es lo mismo, ¿en qué se gasta el
		dinero? Es decir: este punto explica si se trata de gastos de personal, gastos en bienes y servicios, inversiones o
		transferencias a otras entidades.
	</p>

	<p>
		Por ejemplo, si prestamos atención al detalle del presupuesto de
		<a href="/es/programas/33210/Bibliotecas%20p%C3%BAblicas%20y%20patrimonio%20bibliogr%C3%A1fico#view=economic"
			>bibliotecas públicas</a
		>
		veremos que la franja más destacada, en color azul, es el pago de nóminas. La tabla inferior lo confirma: 21 de los
		24 millones presupuestados para 2016 están destinados a los gastos de personal.
	</p>

	<img
		src="assets/img/explicamos/guidedvisit-6.png"
		class="img-responsive"
		alt="Vista general del panel de Detalle del presupuesto, al entrar en detalle en cada partida económica"
	/>

	<p>
		Otro ejemplo: en el programa de
		<a href="/es/programas/44110/promocion-control-y-desarrollo-del-transporte#item=2016/0087/453/01&amp;view=economic"
			>Promoción, control y desarrollo del transporte</a
		>
		la franja más grande, siempre en azul, está destinada al pago de transferencias. En este caso, se trata del dinero
		que transfiere el Ayuntamiento al Consorcio Regional de Transportes de Jerez de la Frontera.
	</p>

	<img
		src="assets/img/explicamos/guidedvisit-7.png"
		class="img-responsive"
		alt="Vista en detalle de las tablas del panel de Detalle del presupuesto, al entrar en detalle en cada partida económica"
	/>

	<h3 id="pagos-a-terceros">Pagos a terceros</h3>

	<p>
		También puedes explorar, en detalle, los pagos a terceros: personas jurídicas o físicas con las que el Ayuntamiento
		tiene relación contractual o convenios, que en 2017 sumaron más de 3.280 millones y 34.848 transacciones. Así,
		puedes ver, por ejemplo, los más de 173 millones que aportó el Ayuntamiento al Consorcio Regional de Transportes de
		Jerez de la Frontera, que se encarga de la gestión del Metro.
	</p>

	<p>
		Además de las cifras generales, puedes buscar por política de gasto (cultura, deporte, educación...), por importe o
		por qué unidad orgánica del Ayuntamiento realiza el pago y qué empresas o entidades lo reciben.
	</p>

	<img
		src="assets/img/explicamos/guidedvisit-8.jpg"
		class="img-responsive"
		alt="Vista general del panel de Pago a terceros"
	/>

	<h3 id="inversiones-por-distritos">Inversiones por distritos</h3>

	<p>
		No solo puedes conocer en qué invierte el Ayuntamiento, sino también dónde. En el apartado de
		<a href="https://presupuestosabiertos.Jerez de la Frontera.es/es/inversiones#year=2019">Inversiones por distrito</a>
		tienes información de las inversiones distribuidas en los 21 distritos de la ciudad desde 2011 hasta la fecha
		actual. Así, en cada distrito puedes consultar las inversiones realizadas y en ejecución, tales como: construcción o
		reforma de escuelas infantiles, polideportivos, centros culturales, equipamientos para los edificios municipales,
		actuaciones urbanísticas y en vías públicas, zonas verdes, etc., por poner algunos ejemplos.
	</p>

	<img
		src="assets/img/explicamos/guidedvisit-9.png"
		class="img-responsive"
		alt="Vista general del panel de Inversión por distritos"
	/>

	<h3 id="si-tienes-dudas-consulta-el-glosario">Si tienes dudas, consulta el glosario</h3>

	<p>
		Conceptos como ahorro, tipos de clasificación del presupuesto (según queramos poner el foco en para qué se gasta,
		quién lo gasta o en qué se gasta) y definiciones de los principales impuestos están en el
		<a href="/es/glosario?page=1">glosario</a>. Para que no te queden dudas.
	</p>
</div>
