@use 'variables' as vars;
@use 'mixins' as m;

p {
	font-size: 1.5rem;
	color: #f7eeee;
}

a {
	font-size: 1.5rem;
}

.main-footer {
	// background: #333;
	background-image: url('/assets/footer.png');
	// color: white;
	padding: 2rem 0 0;
	// margin-top: 4px;
	max-width: 1200px;

	.footer-content {
		max-width: 1200px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 2rem;
		padding: 0 1rem;
	}

	.footer-section {
		h4 {
			color: #1b0202;
			margin-bottom: 1rem;
		}

		ul {
			list-style: none;
			padding: 0;

			li {
				margin-bottom: 0.5rem;
			}
		}

		a {
			color: #f5efef;
			text-decoration: none;
			transition: color 0.3s;

			&:hover {
				color: #e74c3c;
			}
		}
	}

	.footer-section-enlaces a {
		color: #f8f3f3;
		text-decoration: none;
		transition: color 0.3s;

		&:hover {
			color: #e74c3c;
		}
	}

	.social-links {
		display: flex;
		gap: 1rem;
	}
}

.social-links {
	display: flex;
	gap: 1rem;
}

@media screen and (max-width: 844px) {
	a {
		font-size: 1rem;
	}

	p {
		font-size: 1rem;
		margin: 2px;
	}
	h2 {
		font-size: 1rem;
		margin: 2px;
	}

	.main-footer {
		background: #333;
		color: white;
		padding: 1rem 0 0;
	}

	.footer-content {
		max-width: 1200px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 1rem;
		padding: 0 1rem;
	}
	.footer-section-enlaces {
		display: none;
	}
}
