<div class="footer">
	<div class="footer--text">
		<span>Versión {{ version }}</span>
	</div>

	<div class="footer--rrss">
		<a
			href="https://www.blog.ocmjerez.org"
			class="logoWWW"
			target="_blank"
			rel="nofollow"
			aria-label="Sitio WEB de OCM Jerez"
		></a>
		<a
			href="https://facebook.com/OcmJerez/"
			class="logoFacebook"
			target="_blank"
			rel="nofollow"
			aria-label="Facebook de OCM Jerez"
		></a>
		<a
			href="https://twitter.com/ocmjerez"
			class="logoTwitter"
			target="_blank"
			rel="nofollow"
			aria-label="Twitter de OCM Jerez"
		></a>
	</div>

	<div class="footer--mail">
		<span>Email:&nbsp; </span>
		<a href="mailto:info@ocmjerez.org"> info&#64;ocmjerez.org</a>
	</div>
</div>
