<footer class="main-footer">
	<div class="footer-content">
		<div class="footer-section">
			<h2>Contacto</h2>
			<p>📍 Dirección: C/ Diego Fernández Herrera N.º 9 1ª Planta. 11402 Jerez</p>
			<p>📞 Teléfono: 679 45 76 90</p>
			<p>✉️ Email: federacion.solidaridad&#64;gmail.com</p>
		</div>
		<div class="footer-section-enlaces">
			<h2>Enlaces Rápidos</h2>
			<ul>
				<li><a href="/aviso-legal">Aviso Legal</a></li>
				<li><a href="/privacidad">Política de Privacidad</a></li>
				<li><a href="/cookies">Política de Cookies</a></li>
			</ul>
			<p>Versión 5 enero 2025</p>
		</div>
		<div class="footer-section">
			<h2>Síguenos</h2>
			<div class="social-links">
				<a
					href="https://www.facebook.com/profile.php?id=61567320031335"
					class="social-link"
					target="_blank"
					rel="noopener noreferrer"
					>Facebook</a
				>
				<!-- <a href="#" class="social-link">Twitter</a>
				<a href="#" class="social-link">Instagram</a> -->
			</div>
		</div>
	</div>
</footer>
