<h3 class="datosPresupuestarios">Datos presupuestarios año seleccionado</h3>
<div class="tableContainer">
	<table class="paleBlueRows">
		<thead>
			<tr>
				<th>EJECUCIÓN {{ liqDate }}</th>
				<th>INGRESOS</th>
				<th>GASTOS</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>TOTAL PRESUPUESTADO</td>
				<td>{{ totalPresupuestoIngresos | currency : 'EUR' : '' : '1.0-0' }}</td>
				<td>{{ totalPresupuestoGastos | currency : 'EUR' : '' : '1.0-0' }}</td>
			</tr>
			<tr>
				<td>
					TOTAL EJECUTADO <span> {{ liqDate }}</span>
				</td>
				<td>{{ totalEjecutadoIngresos | currency : 'EUR' : '' : '1.0-0' }}</td>
				<td>{{ totalEjecutadoGastos | currency : 'EUR' : '' : '1.0-0' }}</td>
			</tr>
			<tr>
				<td>Subtotal no financiero <span> Capítulos 1 a 7</span></td>
				<td>{{ noFinancieroIngresos | currency : 'EUR' : '' : '1.0-0' }}</td>
				<td>{{ noFinancieroGastos | currency : 'EUR' : '' : '1.0-0' }}</td>
			</tr>
			<tr>
				<td>Subtotal corriente<span> Capítulos 1 a 5</span></td>
				<td>{{ corrientesIngresos | currency : 'EUR' : '' : '1.0-0' }}</td>
				<td>{{ corrientesGastos | currency : 'EUR' : '' : '1.0-0' }}</td>
			</tr>
			<tr>
				<td>Subtotal de capital<span> Capítulos 6 y 7</span></td>
				<td>{{ capitalIngresos | currency : 'EUR' : '' : '1.0-0' }}</td>
				<td>{{ capitalGastos | currency : 'EUR' : '' : '1.0-0' }}</td>
			</tr>
			<tr>
				<td>Subtotal financiero<span> Capítulos 8 y 9</span></td>
				<td>{{ financierosIngresos | currency : 'EUR' : '' : '1.0-0' }}</td>
				<td>{{ financierosGastos | currency : 'EUR' : '' : '1.0-0' }}</td>
			</tr>
		</tbody>
	</table>

	<table class="paleBlueRows">
		<thead>
			<tr>
				<th>INDICADORES PRESUPUESTARIOS</th>
				<th>EUROS</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>
					AHORRO BRUTO
					<span> Ingresos corrientes - gastos corrientes</span>
				</td>
				<td>{{ ahorroBruto | currency : 'EUR' : '' : '1.0-0' }}</td>
			</tr>
			<tr>
				<td>
					AHORRO NETO
					<span style="font-size: 14px; margin-left: 10px"> Ahorro neto - capitulo 9 de gastos</span>
				</td>
				<td>{{ ahorroNeto | currency : 'EUR' : '' : '1.0-0' }}</td>
			</tr>
			<tr>
				<td>
					CAPACIDAD/NECESIDAD DE FINANCIACIÓN
					<span> Ingresos no financieros - gastos no financieros</span>
				</td>
				<td>{{ capacidadFinanciacion | currency : 'EUR' : '' : '1.0-0' }}</td>
			</tr>
		</tbody>
	</table>
</div>
