<p class="OCM-title-dark">Mesas y consejos institucionales</p>

<main class="OCM-gridMenu">
	<app-card-menu
		rutaImagen="https://cswdadlxiubwdzvqzywc.supabase.co/storage/v1/object/public/imgTodas/mesaTecnicaSeguridad.jpg?t=2024-12-07T17%3A54%3A21.513Z"
		titulo="Mesa técnica de seguridad"
		(click)="navigateTo('/mesaSeguridad')"
	/>

	<app-card-menu
		rutaImagen="https://cswdadlxiubwdzvqzywc.supabase.co/storage/v1/object/public/solidaridad/mesaTurismo.jpg?t=2024-12-07T15%3A08%3A47.320Z"
		titulo="Mesa turismo"
		(click)="navigateTo('/mesaTurismo')"
	/>

	<app-card-menu
		rutaImagen="https://cswdadlxiubwdzvqzywc.supabase.co/storage/v1/object/public/imgTodas/consejoPersonasMayores.jpg?t=2024-12-07T17%3A47%3A42.585Z"
		titulo="Consejo Local de las Personas Mayores"
		(click)="navigateTo('/mesaMayores')"
	/>

	<app-card-menu
		rutaImagen="https://cswdadlxiubwdzvqzywc.supabase.co/storage/v1/object/public/imgTodas/mesaCentroHistorico.jpg?t=2024-12-07T18%3A00%3A28.806Z"
		titulo="Mesa del Centro Histórico"
		(click)="navigateTo('/mesaCentroHistorico')"
	/>

	<app-card-menu
		rutaImagen="https://cswdadlxiubwdzvqzywc.supabase.co/storage/v1/object/public/imgTodas/consejoSocial.jpg?t=2024-12-07T18%3A03%3A51.802Z"
		titulo="Consejo Social"
		(click)="navigateTo('/consejoSocial')"
	/>
</main>
