@if (news) {
	<header class="OCM-subtitle-dark">Noticias ({{ news.length }})</header>
}

<section class="OCM-containerTable">
	<table class="OCM-table">
		<thead>
			<tr>
				<th>Fecha</th>
				<th>Medio</th>
				<th>Título</th>
				<th>URL</th>
			</tr>
		</thead>
		<tbody>
			@for (new of news; track new.title) {
				<tr>
					<td>{{ new.date }}</td>
					<td>{{ new.medio }}</td>
					<td>{{ new.title }}</td>
					<!-- <td><a href="{{ new.url_new }}" target="_blank" rel="noopener noreferrer">Enlace</a></td> -->
				</tr>
			}
		</tbody>
	</table>
</section>
