<h2 class="heading">Editar licitación {{ tag }}</h2>
@if (licitacionForm) {
	<form [formGroup]="licitacionForm" [formGroup]="licitacionForm" (ngSubmit)="submitForm()">
		<div class="container">
			<div class="column first-column">
				<div class="form-group">
					<label for="tag">Tag</label>
					<input type="text" class="form-control" id="tag" formControlName="tag" />
					@if (licitacionForm?.get('tag')?.invalid && licitacionForm?.get('tag')?.touched) {
						<div class="text-danger">Tag es requerida.</div>
					}
				</div>
				<div class="form-group">
					<label for="date">expediente</label>
					<input type="text" class="form-control" id="expediente" formControlName="expediente" />
					@if (licitacionForm?.get('expediente')?.invalid && licitacionForm?.get('expediente')?.touched) {
						<div class="text-danger">expediente es requerida.</div>
					}
				</div>
				<div class="form-group">
					<label for="media">descripcion</label>
					<input type="text" class="form-media" id="descripcion" formControlName="descripcion" />
					@if (licitacionForm?.get('descripcion')?.invalid && licitacionForm?.get('descripcion')?.touched) {
						<div class="text-danger">descripcion es requerido.</div>
					}
				</div>
				<div class="form-group">
					<label for="url_new">url_plataforma</label>
					<input type="text" class="form-media" id="url_plataforma" formControlName="url_plataforma" />
					@if (licitacionForm?.get('url_plataforma')?.invalid && licitacionForm?.get('url_plataforma')?.touched) {
						<div class="text-danger">url_plataforma es requerido.</div>
					}
				</div>
				<div class="form-group">
					<label for="title">tipo_financiacion</label>
					<input type="text" class="form-control" id="tipo_financiacion" formControlName="tipo_financiacion" />
					@if (licitacionForm?.get('tipo_financiacion')?.invalid && licitacionForm?.get('tipo_financiacion')?.touched) {
						<div class="text-danger">tipo_financiacion es requerido.</div>
					}
				</div>
				<div class="form-group">
					<label for="title">presupuesto_base_sin_impuestos</label>
					<input
						type="text"
						class="form-control"
						id="presupuesto_base_sin_impuestos"
						formControlName="presupuesto_base_sin_impuestos"
					/>
					@if (
						licitacionForm?.get('presupuesto_base_sin_impuestos')?.invalid &&
						licitacionForm?.get('presupuesto_base_sin_impuestos')?.touched
					) {
						<div class="text-danger">presupuesto_base_sin_impuestos es requerido.</div>
					}
				</div>
				<div class="form-group">
					<label for="title">presupuesto_base_licitación_con_impuestos</label>
					<input
						type="text"
						class="form-control"
						id="presupuesto_base_licitación_con_impuestos"
						formControlName="presupuesto_base_licitación_con_impuestos"
					/>
					@if (
						licitacionForm?.get('presupuesto_base_licitación_con_impuestos')?.invalid &&
						licitacionForm?.get('presupuesto_base_licitación_con_impuestos')?.touched
					) {
						<div class="text-danger">presupuesto_base_licitación_con_impuestos es requerido.</div>
					}
				</div>
				<div class="form-group">
					<label for="title">valor_estimado_contrato</label>
					<input
						type="text"
						class="form-control"
						id="valor_estimado_contrato"
						formControlName="valor_estimado_contrato"
					/>
					@if (
						licitacionForm?.get('valor_estimado_contrato')?.invalid &&
						licitacionForm?.get('valor_estimado_contrato')?.touched
					) {
						<div class="text-danger">valor_estimado_contrato es requerido.</div>
					}
				</div>
				<div class="form-group">
					<label for="title">tipo_contrato</label>
					<input type="text" class="form-control" id="tipo_contrato" formControlName="tipo_contrato" />
					@if (licitacionForm?.get('tipo_contrato')?.invalid && licitacionForm?.get('tipo_contrato')?.touched) {
						<div class="text-danger">tipo_contrato es requerido.</div>
					}
				</div>
				<div class="form-group">
					<label for="title">codigo_cpv</label>
					<input type="text" class="form-control" id="codigo_cpv" formControlName="codigo_cpv" />
					@if (licitacionForm?.get('codigo_cpv')?.invalid && licitacionForm?.get('codigo_cpv')?.touched) {
						<div class="text-danger">codigo_cpv es requerido.</div>
					}
				</div>
				<div class="form-group">
					<label for="title">procedimiento_contratacion</label>
					<input
						type="text"
						class="form-control"
						id="procedimiento_contratacion"
						formControlName="procedimiento_contratacion"
					/>
					@if (
						licitacionForm?.get('procedimiento_contratacion')?.invalid &&
						licitacionForm?.get('procedimiento_contratacion')?.touched
					) {
						<div class="text-danger">procedimiento_contratacion es requerido.</div>
					}
				</div>
				<div class="form-group">
					<label for="title">tipo_tramitación</label>
					<input type="text" class="form-control" id="tipo_tramitación" formControlName="tipo_tramitación" />
					@if (licitacionForm?.get('tipo_tramitación')?.invalid && licitacionForm?.get('tipo_tramitación')?.touched) {
						<div class="text-danger">tipo_tramitación es requerido.</div>
					}
				</div>
			</div>
			<div class="column">
				<div class="form-group">
					<label for="title">adjudicatario</label>
					<input type="text" class="form-control" id="adjudicatario" formControlName="adjudicatario" />
					@if (licitacionForm?.get('adjudicatario')?.invalid && licitacionForm?.get('adjudicatario')?.touched) {
						<div class="text-danger">adjudicatario es requerido.</div>
					}
				</div>
				<div class="form-group">
					<label for="title">cif_adjudicatario</label>
					<input type="text" class="form-control" id="cif_adjudicatario" formControlName="cif_adjudicatario" />
					@if (licitacionForm?.get('cif_adjudicatario')?.invalid && licitacionForm?.get('cif_adjudicatario')?.touched) {
						<div class="text-danger">cif_adjudicatario es requerido.</div>
					}
				</div>
				<div class="form-group">
					<label for="title">url_adjudicatario</label>
					<input type="text" class="form-control" id="url_adjudicatario" formControlName="url_adjudicatario" />
					@if (licitacionForm?.get('url_adjudicatario')?.invalid && licitacionForm?.get('url_adjudicatario')?.touched) {
						<div class="text-danger">url_adjudicatario es requerido.</div>
					}
				</div>
				<div class="form-group">
					<label for="title">licitadores_presentados</label>
					<input
						type="text"
						class="form-control"
						id="licitadores_presentados"
						formControlName="licitadores_presentados"
					/>
					@if (
						licitacionForm?.get('licitadores_presentados')?.invalid &&
						licitacionForm?.get('licitadores_presentados')?.touched
					) {
						<div class="text-danger">licitadores_presentados es requerido.</div>
					}
				</div>
				<div class="form-group">
					<label for="title">plazo_ejecución</label>
					<input type="text" class="form-control" id="plazo_ejecución" formControlName="plazo_ejecución" />
					@if (licitacionForm?.get('plazo_ejecución')?.invalid && licitacionForm?.get('plazo_ejecución')?.touched) {
						<div class="text-danger">plazo_ejecución es requerido.</div>
					}
				</div>
				<div class="form-group">
					<label for="title">importe_adjudicación_sin_impuestos</label>
					<input
						type="text"
						class="form-control"
						id="importe_adjudicación_sin_impuestos"
						formControlName="importe_adjudicación_sin_impuestos"
					/>
					@if (
						licitacionForm?.get('importe_adjudicación_sin_impuestos')?.invalid &&
						licitacionForm?.get('importe_adjudicación_sin_impuestos')?.touched
					) {
						<div class="text-danger">importe_adjudicación_sin_impuestos es requerido.</div>
					}
				</div>
				<div class="form-group">
					<label for="title">importe_adjudicación_con_impuestos</label>
					<input
						type="text"
						class="form-control"
						id="importe_adjudicación_con_impuestos"
						formControlName="importe_adjudicación_con_impuestos"
					/>
					@if (
						licitacionForm?.get('importe_adjudicación_con_impuestos')?.invalid &&
						licitacionForm?.get('importe_adjudicación_con_impuestos')?.touched
					) {
						<div class="text-danger">importe_adjudicación_con_impuestos es requerido.</div>
					}
				</div>
			</div>
			<div class="column">
				<div class="form-group">
					<label for="title">credito_ampara</label>
					<input type="text" class="form-control" id="credito_ampara" formControlName="credito_ampara" />
					@if (licitacionForm?.get('credito_ampara')?.invalid && licitacionForm?.get('credito_ampara')?.touched) {
						<div class="text-danger">credito_ampara es requerido.</div>
					}
				</div>
				<div class="form-group">
					<label for="title">organico</label>
					<input type="text" class="form-control" id="organico" formControlName="organico" />
					@if (licitacionForm?.get('organico')?.invalid && licitacionForm?.get('organico')?.touched) {
						<div class="text-danger">Organico es requerido.</div>
					}
				</div>
				<div class="form-group">
					<label for="title">programa</label>
					<input type="text" class="form-control" id="programa" formControlName="programa" />
					@if (licitacionForm?.get('programa')?.invalid && licitacionForm?.get('programa')?.touched) {
						<div class="text-danger">programa es requerido.</div>
					}
				</div>
				<div class="form-group">
					<label for="title">economico</label>
					<input type="text" class="form-control" id="economico" formControlName="economico" />
					@if (licitacionForm?.get('economico')?.invalid && licitacionForm?.get('economico')?.touched) {
						<div class="text-danger">economico es requerido.</div>
					}
				</div>
				<div class="form-group">
					<label for="title">distrito</label>
					<input type="text" class="form-control" id="distrito" formControlName="distrito" />
					@if (licitacionForm?.get('distrito')?.invalid && licitacionForm?.get('distrito')?.touched) {
						<div class="text-danger">distrito es requerido.</div>
					}
				</div>
				<div class="form-group">
					<label for="title">url_geolocalización</label>
					<input type="text" class="form-control" id="url_geolocalización" formControlName="url_geolocalización" />
					@if (
						licitacionForm?.get('url_geolocalización')?.invalid && licitacionForm?.get('url_geolocalización')?.touched
					) {
						<div class="text-danger">url_geolocalización es requerido.</div>
					}
				</div>
				<div class="form-group">
					<label for="title">duración_contrato</label>
					<input type="text" class="form-control" id="duración_contrato" formControlName="duración_contrato" />
					@if (licitacionForm?.get('duración_contrato')?.invalid && licitacionForm?.get('duración_contrato')?.touched) {
						<div class="text-danger">duración_contrato es requerido.</div>
					}
				</div>
				<div class="form-group">
					<label for="title">canon_concesional</label>
					<input type="text" class="form-control" id="canon_concesional" formControlName="canon_concesional" />
					@if (licitacionForm?.get('canon_concesional')?.invalid && licitacionForm?.get('canon_concesional')?.touched) {
						<div class="text-danger">canon_concesional es requerido.</div>
					}
				</div>
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
}
