<div>
	@for (image of images; track image) {
		@if (currentImageIndex === images.indexOf(image)) {
			<img [src]="image" alt="Slider image" class="hero-image" />
		}
	}
</div>

<section class="featured-section">
	<h1>Nuestras Áreas de Trabajo</h1>
	<div class="featured-grid">
		<div class="featured-item">
			<i class="icon">👥</i>
			<h3>Sanidad</h3>
			<p>Reindivicación constante de una sanidad pública de calidad.</p>
		</div>
		<div class="featured-item">
			<i class="icon">💼</i>
			<h3>Participación</h3>
			<p>Apostamos por la participación ciudadana.</p>
		</div>
		<div class="featured-item">
			<i class="icon">🤝</i>
			<h3>Plataformas</h3>
			<p>Participamos en plataformas ciudadanas.</p>
		</div>
	</div>
</section>
