.hero {
	// background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/img/juntaDirectiva.jpg');
	// background: url('/assets/img/juntaDirectiva.jpg');
	background-size: cover;
	background-position: center;
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.hero-content {
	max-width: 100%;
	height: 500px;
	// padding: 2rem;
}
.hero h1 {
	font-size: 3rem;
	margin-bottom: 1rem;
}
.featured-section {
	padding: 2rem 0;
	background: #f9f9f9;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1rem;
}
.featured-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 2rem;
	margin-top: 2rem;
}
.featured-item {
	text-align: center;
	// padding: 2rem;
	background: white;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.icon {
	font-size: 2.5rem;
	margin-bottom: 1rem;
}
.slider {
	position: relative;
	width: 100%;
	height: 500px;
	overflow: hidden;
}

.hero-image.active {
	display: block;
}
.hero-image {
	width: 100%;
	// height: auto;
	// display: block;
}

@media (max-width: 768px) {
	.hero {
		height: 160px;
	}

	.hero-content {
		max-width: 100%;
		height: 40vh;
		// padding: 2rem;
	}

	.slider {
		// position: relative;
		width: 100%;
		height: 150px;
		overflow: hidden;
	}

	.hero h1 {
		font-size: 0.7rem;
	}

	.featured-section {
		// padding: 0.2rem 0.5rem;
	}

	.featured-grid {
		// gap: 1rem;
	}

	.icon {
		font-size: 1.5rem;
	}
}
