<div class="hero">
	<div class="hero-content">
		<!-- <h1>Construyendo un Futuro Solidario</h1>
		<p>Trabajamos por la inclusión social y laboral</p> -->
	</div>
</div>

<section class="featured-section">
	<div class="container">
		<h1>Nuestras Áreas de Trabajo</h1>
		<div class="featured-grid">
			<div class="featured-item">
				<i class="icon">👥</i>
				<h3>Sanidad</h3>
				<p>Reindivicación constante de una sanidad de calidad.</p>
			</div>
			<div class="featured-item">
				<i class="icon">💼</i>
				<h3>Participación</h3>
				<p>Apostamos por la participación ciudadana.</p>
			</div>
			<div class="featured-item">
				<i class="icon">🤝</i>
				<h3>Platafomras</h3>
				<p>Participamos en plataformas ciudadanas.</p>
			</div>
		</div>
	</div>
</section>

<!-- <main class="OCM-gridMenu">
	@for (menu of menuOptions; track menu) {
		<app-card-menu [rutaImagen]="menu.rutaImagen" [titulo]="menu.title" (click)="menu.funcion()" />
	}
</main> -->
