@if (coms()) {
	<header class="OCM-title">Comentarios ({{ coms().length }})</header>

	<section class="OCM-containerTable">
		<table class="OCM-tableNoticiasDocumentos">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Emisor</th>
					<th>texto</th>
				</tr>
			</thead>
			<tbody>
				@for (com of coms(); track com.id) {
					<tr>
						@switch (com.confidencial) {
							@case (true) {
								@if (canViewConfidencial) {
									<td>{{ com.date | customDate: 'd-MM-yyyy' }}</td>
									<td style="color: red">CONFIDENCIAL {{ com.sender }}</td>
									<td>{{ com.text }}</td>
								}
							}
							@case (false) {
								<td>{{ com.date | customDate: 'd-MM-yyyy' }}</td>
								<td>{{ com.sender }}</td>
								<td>{{ com.text }}</td>
								@if (com.is_link) {
									<td><a href="#" (click)="handleLinkClick(com.text, $event)">Enlace</a></td>
								}
							}
						}
					</tr>
				}
			</tbody>
		</table>
	</section>
}
